*.log
*.pot
*.pyc
local_settings.py
*~
\#*\#
/.emacs.desktop
/.emacs.desktop.lock
.elc
auto-save-list
tramp
.\#*
.*
!.gitignore
!.gitmodules
*~
database/*.db
xinit.sh
media/user-imgs
media/cache*
projectx/
initial_data.json
production/*
django-galleria/
bootstrap/static/css/style.css
fabsettings.py
settings/local.py
analytics.dat
