[submodule "media/js/galleria"]
	path = media/js/galleria
	url = git://github.com/aino/galleria.git
[submodule "media/js/lightbox"]
	path = media/js/lightbox
	url = https://github.com/jackmoore/colorbox.git
[submodule "media/js/jcrop"]
	path = media/js/jcrop
	url = git://github.com/tapmodo/Jcrop.git
[submodule "media/js/chosen"]
	path = media/js/chosen
	url = https://github.com/harvesthq/chosen.git
