*.log
*.pot
*.pyc
local_settings.py
*~
\#*\#
/.emacs.desktop
/.emacs.desktop.lock
.elc
auto-save-list
tramp
.\#*
.*
!.gitignore
!.gitmodules
*~
database/*.db
xinit.sh
media/user-imgs
projectx/
initial_data.json
production/*
django-galleria/
bootstrap/static/style.css
