{% extends "base2.html" %}
{% load url from future %}
{% load index_extras %}

{% block title %}Register plix{% endblock %}
{% block content %}

<div class="container">
  <form method="post" action="">
    {% csrf_token %}
    <br><br> 


	<div class="beta-signup-banner" class="shadow-beta well">
	
	<center><h1 class="beta-banner">G&aring; med nu!</h1></center>
    <div class="beta-signup-left" style="float: left;">
     {{ form.first_name.errors }}
    {{ form.first_name.label }}
        <div class="beta-signup-left-form">
            {{ form.first_name }}
        </div>
   </div>
    <div class="beta-signup-right pull-right beta-signup-right">
        {{  form.last_name.errors }}
        {{ form.last_name.label }}
        <div class="beta-signup-left-form">
            {{ form.last_name }}
        </div>
   </div>
    <p style="clear: left;" />
    <div class="span3 beta-signup-email">
         {{ form.username.errors }}
         {{ form.username.label }}
        <div class="beta-signup-left-form">
            {{ form.username }}
        </div>
	</div>

   
     <div class="beta-signup-left" style="float: left;">
         {{ form.password1.errors }}
         {{ form.password1.label }}
        <div class="beta-signup-left-form">
            {{ form.password1 }}
        </div>
   </div>

    <div class="beta-signup-right pull-right beta-signup-right">
        {{ form.password2.errors }}
        {{ form.password2.label }}
        <div class="beta-signup-left-form">
            {{ form.password2 }}
        </div>
   </div>
    
    <p style="clear: left;" />
    <center>
  			{{ form.invite_code.errors }}
            {{ form.invite_code.label }} <br>
            <div class="beta-signup-invite-form">
                {{ form.invite_code }}
            </div>
    </center> 			
   <p style="clear: left;" />
	<center>
    <button type="submit" class="btn-large btn-info">Skapa konto</button>
    </center>

	</form>
	
</div>


<br><br>


  
{% endblock %}
