<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<!-- Author:  Alexander Lucas (api.alexl@google.com) -->
<html>
  <head>
    <title>My First Google Analytics Data Export API Script</title>
    <script type="text/javascript" src="http://www.google.com/jsapi"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}analyticsCharts.js"></script>
  </head>
  <body>
    <h1>Analytics Data Export API Script</h1>
    <button id="authButton">Loading...</button>
    <div id="dataControls" style="display:none">
      <p>
        For this user, retrieve the first 50 accounts with profile ID and table ID
        <button id="getAccount">Get Account Data</button>
      </p>
      <p>
        For this profile, show visitor type and entrance/exit graphs:
        <input type="text" id="tableId"/> (insert Table ID)
        <button id="getData">Get Report Data</button>
      </p>
    </div>
    <table>
      <tr>
        <td><div id="visitorsDiv"></div></td>
        <td><div id="entrancesDiv"></div></td>
      </tr>
    </table>
    <img src="dummy.gif" style="display:none" alt="required for Google Data"/>
  </body>
</html>
