{% extends "base.html" %}
{% load url from future %}
{% load index_extras %}
{% block html-head %}
<script src="{{ STATIC_URL }}js/d3.v2.min.js"></script>
<script src="{{ STATIC_URL }}js/underscore-min.js"></script>

<script type="text/javascript">
<!-- Visitor count statistics to chart -->
{% if visitor_count_data %}
var visitor_count_data = {{ visitor_count_data|safe }};
{% endif %}
</script>

<style>
  .line {
  fill: none;
  stroke: #000;
  stroke-width: 1.5px;
  }
  
  .axis path, .axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
  }

  path.area {
  fill:grey;
  stroke:rgb(59,89,152);
  }

  line {
  stroke:rgb(59,89,152);
  stroke-width:3;
  }

  path.area {
  fill:rgb(210,229,215);
  }

  circle {
  fill:rgb(59,89,152);
  }

  #tooltip {
  position:absolute;
  background-color:#333;
  padding:2px 5px 2px 5px;  
  }

  #tooltip p {
  margin:0px;
  font-size:12px;
  color:white;
  }

  /* Hide axis which is only used 
  to place dates correctly */
  path.domain {
  stroke:rgb(59,89,152);
  }
  line.tick {
  stroke:none;
  }
  path.domain {
  stroke:none;
  }

 
</style>
{% endblock %}
{% block content %}
<!-- Underscore.js Templates -->
<script type="text/template" id="chart-tooltip">
  <div id="tooltip" >
    <p><%= visitor_count %> personer har besökt dig</p>
    <p><%= start_date %> - <%= end_date %></p>    
  </div>
</script>

<div class="row main-content">
  <div class="span10">
    <h1>Visit statistics</h1>
    <div id="bar-demo"></div>
  </div>
</div>
<script type="text/javascript" src="{{ STATIC_URL }}js/chart.js"></script>
{% endblock %}
