{% extends "base.html" %}
{% load url from future %}
{% load index_extras %}
{% block html-head %}
<script src="http://d3js.org/d3.v2.js"></script>

<style>
 
  path {
  stroke: steelblue;
  stroke-width: 4;
  fill: none;
  }

  line {
  stroke: black;
  stroke-width:1;
  }

  text {
  font-family: Arial;
  font-size: 9pt;
  }
</style>
{% endblock %}
{% block content %}
<div class="row">
  <div class="span10 offset1">
    <h1>hellloo1</h1>
    <div id="bar-demo"></div>
  </div>
</div>
<script type="text/javascript">
//var data = {{ data|safe }};
//console.log(asd);
var data = [3, 6, 2, 7, 5, 2, 1, 3, 8, 9, 2, 5, 0],
w = 820,
			h = 200,
			margin = 40,
			y = d3.scale.linear().domain([0, d3.max(data)]).range([0 + margin, h - margin]),
			x = d3.scale.linear().domain([0, data.length]).range([0 + margin, w - margin])

			var vis = d3.select("#bar-demo")
			    .append("svg:svg")
			    .attr("width", w)
			    .attr("height", h)

			var g = vis.append("svg:g")
			    .attr("transform", "translate(0, 200)");
			
			var line = d3.svg.line()
			    .x(function(d,i) { return x(i); })
			    .y(function(d) { return -1 * y(d); })
			
			g.append("svg:path").attr("d", line(data));
			console.log(x(0),y(0));
			g.append("svg:line")
			    .attr("x1", x(0))
			    .attr("y1", -1 * y(0))
			    .attr("x2", x(w))
			    .attr("y2", -1 * y(0))

			g.append("svg:line")
			    .attr("x1", x(0))
			    .attr("y1", -1 * y(0))
			    .attr("x2", x(0))
			    .attr("y2", -1 * y(d3.max(data)))
			
			g.selectAll(".xLabel")
			    .data(x.ticks(3))
			    .enter().append("svg:text")
			    .attr("class", "xLabel")
			    .text(String)
			    .attr("x", function(d) { return x(d) })
			    .attr("y", 0)
			    .attr("text-anchor", "middle")

		
			
			g.selectAll(".xTicks")
			    .data(x.ticks(3))
			    .enter().append("svg:line")
			    .attr("class", "xTicks")
			    .attr("x1", function(d) { return x(d); })
			    .attr("y1", -1 * y(0))
			    .attr("x2", function(d) { return x(d); })
			    .attr("y2", -1 * y(-0.3))

function resolveX(d, i) {
        var parentIndex = parseInt($(this.parentNode).attr('class').split('-').pop(), 10);
        return d.x + parentIndex * max;
    }
    function resolveY(d) {
        return d.y;
    }

// CIRCLES
        var circles = g.selectAll('circle')
            .data(function(d) { return d; })
                .attr('cx', resolveX)
                .attr('cy', resolveY);
        circles
            .enter()
                .append('svg:circle')
                .attr('r', 2)
                .attr('cx', resolveX)
                .attr('cy', resolveY);

	
</script>
{% endblock %}
