{% extends "base.html" %}
{% load index_extras %}
{% load url from future %}
{% load thumbnail %}

{% block html-head %}

<!-- css and javascript for image cropping with Jcrop -->
<link href="{{ STATIC_URL }}js/jcrop/css/jquery.Jcrop.min.css" rel="stylesheet" type="text/css" />
<script src="{{ STATIC_URL }}js/jcrop/js/jquery.Jcrop.min.js"></script>
<script src="{{ STATIC_URL }}js/crop_image.js"></script>
<script type="text/javascript">
  IMAGE_REAL_WIDTH = "{{profile_image_uncropped.file.width}}";
  IMAGE_REAL_HEIGHT = "{{profile_image_uncropped.file.height}}";
</script>
<!-- END Jcrop -->
{% endblock %}

{% block content %}

<div class="row main-content crop-image">
  <div class="span6 offset3">
    <h1>Skapa profilbild</h1>
    <h3>Välj ut det område som du vill visa som profilbild</h3>
    {% thumbnail profile_image_uncropped.file "500x500" upscale=False as im %}
    <img id="jcrop_target" src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
    {% endthumbnail %}
    <form method="post">
      {% csrf_token %}
      {{ form }}
      <input type="submit" class="btn-large btn-info" value="Spara profilbild" />
    </form>
     <span id="warning-small-picture" class="label label-warning" style="display:none;">Din bild är väldigt liten, det finns risk att den inte ser så bra ut på profilen.</span>
  </div>
</div>

{% endblock %}

