{% extends "base.html" %}
{% load index_extras %}
{% load url from future %}

{% block html-head %}
<script>
  <!-- used in the service.js file, to know where the service api is located -> doesnt need to hardcode the url -->
  PICTURE_API_URL = "{% url 'api_dispatch_list' api_name="profile" resource_name="picture" %}";
  <!-- used in the service.js file, to know the full image path -->
  PICTURE_PATH = "{{ user_images_path }}";
</script>

<script src="{{ STATIC_URL }}js/underscore-min.js"></script>
<script src="{{ STATIC_URL }}js/backbone-min.js"></script>
<script src="{{ STATIC_URL }}js/backbone-tastypie.js"></script>
<script src="{{ STATIC_URL }}js/backbone.modelbinding.js"></script>
<script src="{{ STATIC_URL }}js/bootstrap-modal.js"></script>

<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.18/jquery-ui.min.js"></script>
<script src="{{ STATIC_URL }}js/jquery.notify.js"></script>
<script src="{{ STATIC_URL }}js/jquery/jquery.alerts.js"></script>

<style>
  /* remove background around twitter bootstrap modal, on this page */
  .modal-backdrop {
  opacity:0;
  }
</style>

{% endblock %}

{% block content %}

<div id="alert" style="display:none;">
  <div id="basic-template">
      <p>#{text}</p>
  </div>
</div>


<div class="row" >
  <div id="edit-profile-large" class="span12" >

      {% include "update_notifier.html" %}

    <!-- Underscore.js Templates -->
    <script type="text/template" id="tpl-image-list-item">
      <div class="edit-images-image-border">
        <img src="<%= image_url %>">
      </div>
      <div class="image-bottom-wrapper">
	<div class="wrap-textarea">
	  <textarea class="comment-area" placeholder="Säg något om det här fotot" rows="2"><% if(comment) { %><%= comment %><% } %></textarea>
	</div>
	<div class="edit-images-image-bottom">
          <!-- input checkbox should be checked=true if display_on_profile = true -->

          <% if(display_on_profile) { %>
	
          <label for="show_image_on_profile">Visa på profil</label>
          <input checked="true" type="checkbox" name="show_image_on_profile" class="show_image_on_profile">
          <% } else { %>
	
          <label for="show_image_on_profile">Visa på profil</label>
          <input type="checkbox" name="show_image_on_profile" class="show_image_on_profile">
          <% } %>
	  

	  <div class="delete-image" style="display:inline-block;margin-top:7px;margin-left:10px;"><i class="icon-trash"></i><span></span></div>
	  <button class="btn save" style="margin-left:10px;">Spara</button>
	</div>
      </div>

    </script>

    <script type="text/template" id="tpl-empty-image-list-item">
      <li class="image-block empty-image-list-item empty-image-fixed-height">
        <div class="edit-images-image-border">
          <p>Klicka för att ladda upp en bild</p>
	</div>
	<div class="image-bottom-wrapper">
	</div>
      </li>
    </script>
    <!-- END Underscore.js Templates -->

    <div class="main-content edit-images">
      <div class="row">
	<div class="span3">
	  <h2>Profilbild</h2>
	</div>
        <div class="span4">
          <h2>Galleribilder</h2>
          <p>Dra i en bild för att ändra ordning på den i galleriet</p>
        </div>
	<div class="offset3 span2">
	  <a class="btn" data-toggle="modal" href="#image-upload-dialog-gallery">Ladda upp bild</a>
	</div>
      </div>


      <div class="row">

        <div class="profile-image-edit span3">
          <ul class="image-list-horizontal ui-sortable" style="">
            <li class="image-block" style="">
              <div style="position:relative;" class="edit-images-image-border">
		<div style="position:absolute;height:230px;background-color:rgba(0,0,0,0.4);" class="edit-profile-image-overlay">
		  <h3 style="padding-top:150px;color:white;font-weight:bold;"> Tryck här för att byta profilbild</h3>
		</div>
                <img src="{{ profile_image_url }}">
		
		
		
              </div>

            </li>
          </ul>

        </div>
        <div id="image-list" class="span9">
	</div>
      </div>
    </div>
  </div>

  <div class="modal" id="image-upload-dialog-gallery" style="display:none;">
    <!-- uploads from here should be gallery images -->
    <div class="modal-header">
      <button class="close" data-dismiss="modal">×</button>
      <h3>Ladda upp en galleri bild</h3>
    </div>
    <div class="modal-body">
      <form class="form-horizontal" method="post" enctype="multipart/form-data" action="{% url 'edit_images' %}">
	<fieldset>
        {% csrf_token %}
        {{ form.file.errors }}
	<div class="control-group  ">
	  <label class="control-label" for="inputWarning">Bild</label>
	  <div class="controls">
	    <input style="padding-left:1px;border:solid 1px #CCC;color:#888;" type="file" name="file" id="id_file">
	    <span class="help-inline"></span>
	    <p class="help-block"></p>
	  </div>
	</div>
	<div class="control-group  ">
	  <label class="control-label" for="inputWarning">Kommentar</label>
	  <div class="controls ">
	    <input id="id_comment" type="text" name="comment" maxlength="100">
	    <span class="help-inline">Valfritt</span>
	    <p class="help-block"></p>
	  </div>
	</div>	

	<select style="display:none" name="image_type" id="image_type">
	  <option selected="selected" value="G"></option>
	</select>
        {{ form.non_field_errors }}
        {{ form.docfile.help_text }}
        {{ form.docfile.label_tag }}
        {{ form.docfile.errors }}
        {{ form.docfile }}
	</fieldset>
    </div>
    <div class="modal-footer">
      <a href="#" data-dismiss="modal" class="btn">Stäng</a>
      <input type="submit" value="Spara" class="btn btn-primary" />
    </div>
    </form>
  </div>
  
  {% include "accounts/upload_profile_image_modal.html" %}

  <!-- the code that does the magic on the page -->
  <script src="{{ STATIC_URL }}js/picture.js"></script>
  
</div>

</div>
</div>
{% endblock %}

