{% extends "base.html" %}
{% load upload_tags %}
{% load index_extras %}
{% load url from future %}

{% block html-head %}
<script> 
  <!-- used in the service.js file, to know where the service api is located -> doesnt need to hardcode the url -->
  PICTURE_API_URL = "{% url 'api_dispatch_list' api_name="profile" resource_name="picture" %}"; 
  <!-- used in the service.js file, to know the full image path -->
  PICTURE_PATH = "{{ user_images_path }}";
  
</script>

<script src="/static/underscore-min.js"></script>
<script src="/static/backbone-min.js"></script>
<script src="/static/backbone-tastypie.js"></script>
<script src="/static/backbone.modelbinding.js"></script>
<!--<link type="text/css" href="/static/jquery-ui-1.8.18.custom/css/ui-lightness/jquery-ui-1.8.18.custom.css" rel="Stylesheet" />-->
<script type="text/javascript" src="/static/jquery-ui-1.8.18.custom.min.js"></script>

{% endblock %}

{% block content %}
<!-- Underscore.js Templates -->
<script type="text/template" id="tpl-image-list-item">
  <img src="<%= image_url %>">
  <div class="edit-images-image-bottom">
    <!-- input checkbox should be checked=true if display_on_profile = true -->
    <% if(display_on_profile) { %>
    <label for="show_image_on_profile">Visa på profil</label>
    <input checked="true" type="checkbox" name="show_image_on_profile" class="show_image_on_profile">
    <% } else { %>
    <label for="show_image_on_profile">Visa på profil</label>
    <input type="checkbox" name="show_image_on_profile" class="show_image_on_profile">
    <% } %>
    <button class="btn delete">Delete</button>
  </div>
</script>

<div class="main-content edit-images">
    <div id="image-list" class="span12"></div>
  <!-- the code that does the magic on the page -->
  <script src="/static/picture.js"></script>
  {% endblock %}
