{% extends "base.html" %}
{% load upload_tags %}
{% load index_extras %}
{% load url from future %}

{% block html-head %}
<script src="/static/underscore-min.js"></script>
<script src="/static/backbone-min.js"></script>
<script src="/static/backbone-tastypie.js"></script>
<script src="/static/backbone.modelbinding.js"></script>
<link type="text/css" href="/static/jquery-ui-1.8.18.custom/css/ui-lightness/jquery-ui-1.8.18.custom.css" rel="Stylesheet" />
<script type="text/javascript" src="/static/jquery-ui-1.8.18.custom.min.js"></script>

{% endblock %}

{% block content %}
<!-- Templates -->
<script type="text/template" id="tpl-service-list-item">
  <div class="service-name">Visningsnamn: <%= name %></div>
  <div class="service-description">Description: <%= description %></div>
  <div class="service-length">Length: <%= length %> minuter</div>
  <div class="service-price">Pris: <%= price %>:-</div>
  <% if(display_on_profile) { %>
  <div class="service-price">Visas på profil</div>
  <% } else { %>
  <div class="service-price">Visas inte på profilen</div>
  <% } %>
  <button class="btn btn-primary edit">Edit</button>
  <button class="btn delete">Delete</button>
</script>
<script type="text/template" id="tpl-service-edit-form">
  <form class="form-horizontal" id="service-edit-form" action="" method="post">
    {% csrf_token %}
    {% for field in form %}
    <div class="control-group">
      <label class="control-label" for="{{ field.value }}">{{ field.label }}</label>
      <div class="controls">
        {{ field }}
        <span class="help-inline"></span>
      </div>
    </div>
    {% endfor %}
    <button class="btn btn-primary save">Save</button>
</fieldset>
</form>
</script>


<div class="container">
  <div class="row">
       <div class="span6">
         <div>
           <button class="btn btn-primary new-service">New Service</button>
         </div>
         <div id="form"></div>
         
       </div>
       <div id="service-list" class="span5 offset1"></div>

</div>

<script src="/static/service.js"></script>
{% endblock %}
