{% extends "base.html" %}
{% load url from future %}
{% load index_extras %}

{% block title %}Information om din salong{% endblock %}

{% block remove-links-top %}
		{% include "no_links_on_top_snippet.html" %}
{% endblock %}

{% block content %}
<script type="text/javascript">
  _kmq.push(['record', 'signed up', {'plan level':'Trial'}]);
</script>


<style>

</style>
<div class="row signup-step1">

	{% include "accounts/signup_progress_bar.html" %}
  <div id="edit-profile-large" class="span6 offset2">
  
    <h2 style="margin-left:45px;margin-bottom:-10px;">Hej, vart jobbar du?</h2>
    <form action="" method="post" class="form-horizontal">{% csrf_token %}
      <fieldset>
        {% for field in form %}
        {% include "accounts/form_snippet.html" with field=field %}
        {% endfor %}

        <div class="form-actions">
          <button type="submit" class="btn-large btn-info">Spara och gå vidare</button>
        </div>

      </fieldset>
    </form>
  </div>
<!--  <div class="span3 sell-block">
    <ul>
      <h3>Visste du att?</h3>
      <li></li>
      <li>Det blir enkelt för dina nya och gamla kunder att boka dig</li>
      <li>Vi kan enkelt nå dig med nya, grymma erbjudanden!</li>
    </ul>
    </div>-->
</div>
{% endblock %}
