{% extends "base.html" %}
{% load url from future %}

{% block title %}Profilbild{% endblock %}

{% block remove-links-top %}
{% include "no_links_on_top_snippet.html" %}
{% endblock %}

{% block content %}
{% include "accounts/signup_progress_bar.html" %}

<div class="row signup-step2-main">
  <div class="span2 offset2">
      <h3>Nuvarande profilbild</h3>
      <div id="profile-image">
	<img width="140" src="{{ STATIC_URL }}img/default_image_profile_not_logged_in.jpg"/>
      </div>
  </div>

  <div class="span6 offset1">
    <h3>Ladda upp en bild</h3>
    <p>Du kan ladda upp en JPG eller PNG fil (max filstorlek är 10 MB)</p>
    <form class="form-horizontal" method="post" enctype="multipart/form-data" action="">

      {% csrf_token %}
      {{ form.file.errors }}
      <input type="file" name="file" id="id_file">
      {{ form.non_field_errors }}
      {{ form.docfile.help_text }}
      {{ form.docfile.label_tag }}
      {{ form.docfile.errors }}
      {{ form.docfile }}

      <div id="signup-step2-buttons">
	<input type="submit" value="Ladda upp profilbild" class="btn btn-primary btn-large" /><span> eller <a class="" href="{% url 'profile_display_redirect' %}">Fortsätt utan profilbild</a></span>
      </div>
    </form>


  </div>
{% endblock %}
