
	

<div class="span12">
	<div class="progress" style="margin-top:20px">
 	 <div class="bar"
       	style="width:{{ progress_width }}"></div>
	</div>
</div>
<div class="span12 progress-bar-styled">
	<div class="span2 {{ progress_salon_info }}" style="margin-left:0px">
	<h4>Skapa Konto |</h4>
	</div>
	<div class="span2 {{ progress_salon_info }}">
	<h4>Salongsinfo |</h4>
	</div>
	<div class="span2 {{ progress_salon_hours }}">
	<h4>Öppetider |</h4>
	</div>
	<div class="span2 {{ progress_salon_price }}">
	<h4>Prislista |</h4>
	</div>
	<div class="span2 {{ progress_profile_pic }}">
	<h4>Profilbild |</h4>
	</div>
	<div class="span2">
	<h4>Klar!</h4>
	</div>
</div>
