{% extends "base.html" %}
{% load url from future %}
{% load index_extras %}

{% block title %}Information om din salong{% endblock %}
{% block content %}


<div class="row signup-step1">

	{% include "accounts/signup_progress_bar.html" %}
  <div id="edit-profile-large" class="span8">
  
    <h2>Först, börja med att fylla i information om din salong</h2>
    <form action="" method="post" class="form-horizontal">{% csrf_token %}
      <fieldset>
        {% for field in form %}
        {% include "accounts/form_snippet.html" with field=field %}
        {% endfor %}

        <div class="form-actions">
          <button type="submit" class="btn-large btn-info">Fortsätt vidare</button>
        </div>

      </fieldset>
    </form>
  </div>
</div>
{% endblock %}
