{% extends "accounts/edit_images.html" %}
{% load url from future %}

{% block title %}Profilbild{% endblock %}

{% block content %}
<div class="row" >
  <div class="profile-image-edit span5 offset3">
    <h2>Profilbild</h2>
    <h3>Klicka på bilden för att skapa en profilbild</h3>
    <ul class="image-list-horizontal ui-sortable" style="">
      <li class="image-block" style="">
        <div style="position:relative;" class="edit-images-image-border">
	  <div style="position:absolute;height:230px;background-color:rgba(0,0,0,0.4);" class="edit-profile-image-overlay">
	    <h3 style="padding-top:150px;color:white;font-weight:bold;"> Tryck här för att skapa en profilbild</h3>
	  </div>
          <img src="{{ profile_image_url }}">
        </div>
      </li>
    </ul>
  </div>
</div>
{% endblock %}
