<div class="span8" id="history-frame">

<h3>Historia</h3>
	<p>	
StyleMatch är ett företag med rötterna vid Linköpings universitet. Allt började med att de fyra grundarna Marcus, Martin, Hampus och Jens såg ett stort problem i att frisörer inte tog vara på alla de möjligheter som internet erbjuder. <br><br>

För att kunna lösa problemet krävdes förståelse för branchen vilket man direkt började samla på sig genom att kontakta de frisörer som fanns i Linköping. Genom kontakten med frisörerna fick man även otroligt bra idéer om vad som skulle ändras, lägga till och ta bort och det är med hjälp av dessa frisörer som StyleMatch är vad det är idag.<br><br>

Just nu arbetar vi med att göra det möjligt för alla Sveriges ambitiösa frisörer att kunna använda StyleMatch för att på så sätt skapa sig ett ansikte på internet! 
</p>



  </div>
