<div class="span8" id="omoss-frame">
    <h3>Om Oss</h3><br>
	<p>	Vi är ett gäng unga och nytänkande grabbar som letar efter problem att lösa. Med rötterna på Linköpings Universitet är vi ett team på fyra med blandade bakgrunder inom ekonomi, marknadsföring, webbutveckling, försäljning och design.<br/><br/>
	
	Vi är lite av specialister på internet och sociala medier och vill med våran kunskap hjälpa frisörer att få en enklare väg till framgångar online.<br/><br/>
	
	Vi vet vart vi vill. Vi vet vart vi ska. Med StyleMatch vill vi även hjälpa dig dit du vill och vi vet att att vår tjänst kommer hjälpa dig en bra bit på vägen oavsett om du är frisör eller konsument.<br/><br/>
		
Häng med oss redan idag!
</p>
	
	 <img class="picture-team" src="{{STATIC_URL}}img/team_bilder/teamet1.png"/>

  </div>
