<div class="span8" id="picture-frame">
  <h2>
	  Pressbilder
  </h2>
  <h4>
	  Tryck på bilden för att ladda ner en högupplöst version.
  </h4>
  
 <ul>
 	<li>
	 	<a target="_blank" href="https://s3-eu-west-1.amazonaws.com/stylematch/external/press/StyleMatch_-_Bild_pa_sida.jpeg">
	 		<img src="https://s3-eu-west-1.amazonaws.com/stylematch/external/press/thumbnail_-_StyleMatch_-_Bild_pa_sida.jpg"/>
	 	</a>
	 	<a target="_blank" href="https://s3-eu-west-1.amazonaws.com/stylematch/external/press/svartvita/StyleMatch_-_Bild_pa_sida.jpeg"/>
	 		<img src="https://s3-eu-west-1.amazonaws.com/stylematch/external/press/svartvita/thumbnail_-_StyleMatch_-_Bild_pa_sida.jpg"/>
	 	</a>
 	</li>
 	<li>
	 	<a target="_blank" href="https://s3-eu-west-1.amazonaws.com/stylematch/external/press/StyleMatch_-_Bild_pa_team_2_Samuel_Andersson%2C_Marcus_Padmo_Jorgenssen%2C_Hampus_Bergqvist%2C_Martin_Andersson_och_Jens_Ohring.jpg"/>
	 		<img src="https://s3-eu-west-1.amazonaws.com/stylematch/external/press/thumbnail_-_StyleMatch_-_Bild_pa_team_2_Samuel_Andersson%2C_Marcus_Padmo_Jorgenssen%2C_Hampus_Bergqvist%2C_Martin_Andersson_och_Jens_Ohring.jpg"/>
	 	</a>
 	
	 	<a target="_blank" href="https://s3-eu-west-1.amazonaws.com/stylematch/external/press/svartvita/StyleMatch_-_Bild_pa_team_2_Samuel_Andersson%2C_Marcus_Padmo_Jorgenssen%2C_Hampus_Bergqvist%2C_Martin_Andersson_och_Jens_Ohring.jpg"/>
 			<img src="https://s3-eu-west-1.amazonaws.com/stylematch/external/press/svartvita/thumbnail_-_StyleMatch_-_Bild_pa_team_2_Samuel_Andersson%2C_Marcus_Padmo_Jorgenssen%2C_Hampus_Bergqvist%2C_Martin_Andersson_och_Jens_Ohring.jpg"/>
 		</a>
 	</li>
 	<li>
	 	<a target="_blank" href="https://s3-eu-west-1.amazonaws.com/stylematch/external/press/StyleMatch_-_Bild_pa_team_Samuel_Andersson%2C_Marcus_Padmo_Jorgenssen%2C_Hampus_Bergqvist%2C_Martin_Andersson_och_Jens_Ohring.jpg"/>
	 		<img src="https://s3-eu-west-1.amazonaws.com/stylematch/external/press/thumbnail_-_StyleMatch_-_Bild_pa_team_Samuel_Andersson%2C_Marcus_Padmo_Jorgenssen%2C_Hampus_Bergqvist%2C_Martin_Andersson_och_Jens_Ohring.jpg"/>
	 	</a>
	 	<a target="_blank" href="https://s3-eu-west-1.amazonaws.com/stylematch/external/press/svartvita/StyleMatch_-_Bild_pa_team_Samuel_Andersson%2C_Marcus_Padmo_Jorgenssen%2C_Hampus_Bergqvist%2C_Martin_Andersson_och_Jens_Ohring.jpg"/>
	 		<img src="https://s3-eu-west-1.amazonaws.com/stylematch/external/press/svartvita/thumbnail_-_StyleMatch_-_Bild_pa_team_Samuel_Andersson,_Marcus_Padmo_Jorgenssen,_Hampus_Bergqvist,_Martin_Andersson_och_Jens_Ohring.jpg"/>
	 	</a>
 	</li>

 
 </ul>
 </div>
