
<div class="span8" id="press-frame">
	<h3>Fakta</h3>
  <div class="info">
      <p><span>Grundat:</span> 2012 av <a href="/martin/">Martin Andersson</a>, <a href="/hampus/">Hampus Bergqvist</a>, <a href="/jens/">Jens Ohring</a> och <a href="/marcus/">Marcus Padmo Jörgensen</a></p>
      <p><span>Plats:</span> Huvudkontor i Linköping</p>
      <p><span>Kunder:</span> Frisörer som vill ta kontroll över sin marknadsföring och få rätt kunder</p>
      <p><span>Användare:</span> Konsumenter som vill hitta en frisör som passar sin stil</p>
      <p><span>Mål:</span> Att matcha rätt kund med rätt frisör för att på så sätt skapa en bekväm upplevelse redan innan upplevelsen inträffar!</p>
      <p><span>Team:</span> Martin Andersson, Hampus Bergqvist, Jens Ohring och Marcus Padmo Jörgensen</p>
      <p><span>Namnet:</span> Talar för sig själv.</p>
     

         </div>
  
</div>
