<div class="span8" id="team-frame">

    <h3>Teamet</h3>
    <br>
    <div class="row">
      <div class="span4" class="team-medlemmar1">
        <img class="pictures-team-members" src="{{STATIC_URL}}img/hampus_liten.jpg"/>

        <div class="team-medlemmar-liten">
          <h4 class="team-medlemmar1"><a href="/hampus/">Hampus Bergqvist</a></h4>
          <p>VD<br>
            073-848 73 10<br>
            <a href="mailto:hampus@stylematch.se">hampus@stylematch.se</a></p>
          <br>
        </div>

        <img class="pictures-team-members" src="{{STATIC_URL}}img/martin_liten.jpg"/>
        <div class="team-medlemmar-liten">
          <h4><a href="/martin/">Martin Andersson</a></h4>
          <p>S&auml;lj- & marknadsansvarig<br>
            073-388 50 88<br>
            <a href="mailto:martin@stylematch.se">martin@stylematch.se</a></p>
            </p>
            </div>
</div>
<div class="span4" class="team-medlemmar2">
  <img class="pictures-team-members" src="{{STATIC_URL}}img/marcus_liten.jpg"/>
  <div class="team-medlemmar-liten">
    <h4><a href="/marcus/">Marcus Padmo J&ouml;rgensen</a></h4>
    <p>Produktansvarig<br>
      070-732 75 75<br>
      <a href="mailto:marcus@stylematch.se">marcus@stylematch.se</a></p>
    <br>
  </div>
  <img class="pictures-team-members" src="{{STATIC_URL}}img/jens_liten.jpg"/>
  <div class="team-medlemmar-liten">
    <h4><a href="/jens/">Jens Ohring</a></h4>
    <p>Teknikansvarig<br>
      070-998 83 80<br>
      <a href="mailto:jens@stylematch.se">jens@stylematch.se</a></p>
  </div>
</div>
  </div>
  </div>
