<div class="span8" id="tjansten-frame">
    <h3>Om StyleMatch</h3><br>
	<p>	StyleMatch är en tjänst där man som ambitiös frisör skapar en profil bestående av personlig text, egna bilder och kontaktinformation till dit man jobbar. <br/><br/>

Profilen erbjuder frisören att stärka sitt personliga varumärke och ta kontroll över sin marknadsföring online.  <br/><br/>

StyleMatch har en söklista där alla frisörers profiler samlas. Här kan man som kund gå in för att hitta en frisör som passar sin stil. Om man inte vet vilken frisyr som gäller är det inte heller så lätt att hitta en frisör. Då surfar man in på inspirationssidan där alla frisörers bilder finns samlade för att på så sätt hitta en frisyr som lockar.<br><br>

<em>“Tjänsten ska på ett enkelt och roligt sätt föra samman rätt kund med rätt frisör”
</em></p>

	<p class="call-to-action">Är du frisör?<a href="/frisör/" class="call-to-action">Skapa din profil</a> redan idag!</p>
  </div>
