<div class="span8" id="vision-frame">
    <h3>Om oss</h3><br>
	<p>	Vi är ett gäng nytänkande grabbar som letar efter problem att lösa. Med StyleMatch löser vi ett stort problem, större än vad du kanske tror. Vi vill med hjälp av tjänsten hjälpa frisörer att ta kontroll över sin marknadsföring och på så sätt rikta den mot kunder dem själva vill klippa. <br/><br/>
		
		På samma sätt vill vi ge konsumenten en schysst möjlighet att i lugn och ro få hitta en frisör som inger trygghet och passar sin stil.<br/><br/> 
		
		Vi vet vart vi vill. Vi vet vart vi ska. Med StyleMatch vill vi även hjälpa dig dit du vill och vi vet att att vår tjänst kommer hjälpa dig en bra bit på vägen oavsett om du är frisör eller konsument.<br/><br/>
		
Häng med oss redan idag!
</p>
  </div>
