{% extends "base.html" %}
{% load url from future %}

{% block title %}Om oss{% endblock %}

{% block content %}

<div class="row main-content about-us">

	
		<!- about us navigation ->
		<div class="about-navigation span3">
				<ul class="nav nav-list">
				  <li class="nav-header">
				    Om StyleMatch
				  </li>
				  <li class="active">
				    <a href="#">Om StyleMatch</a>
				  </li>
				    <li>
				    <a href="#team-frame">Teamet</a>
				  </li>
				      <li>
				    <a href="#press-frame">Press</a>
				  </li>
				  <li>
				    <a href="#">Fakta</a>
				  </li>
				   
				  
				  <li>
				    <a href="#">Bakom Kulisserna</a>
				  </li>
				  <li>
				    <a href="#">Jobba hos oss</a>
				  </li>
				</ul>
		</div>
		<!- end about us navigation ->
	
		<div class="pull-right span9">
		
			  {% include 'about_us/vision_frame_snippet.html' %}
			  {% include 'about_us/team_frame_snippet.html' %}
			  {% include 'about_us/press_frame_snippet.html' %}
			  {% include 'about_us/picture_frame_snippet.html' %}
		  
		</div>
</div>


{% endblock %}
