{% extends "base.html" %}
{% load url from future %}

{% block html-head %}

{% endblock %}

{% block title %}Om Tjänsten{% endblock %}

{% block content %}
<div class="row about-stylematch">
	<div class="span12">
	<ul class="nav nav-tabs">
		  <li class="active">
		    <a href="#">Frisör</a>
		  </li>
		  <li><a href="#">Privatperson</a></li>
		</ul>
		<div class="main-argument" >
			<h1>Ditt bästa sätt att marknadsföra <br>dig online</h1>
			<h2>Oavsett om du är salongsägare, hyrstol eller anställd, med StyleMatch kan du enkelt hålla kontakt med dina gamla kunder samtidigt som dina nya kunder hittar dig.</h2>
			
			<a href="#" class="btn btn-large btn-info">Skapa en profil</a>
			
		</div>
		
	</div>
	

</div>

{% endblock %}
