{% extends "base.html" %}
{% load url from future %}

{% block html-head %}

{% endblock %}

{% block title %}Om Tjänsten{% endblock %}

{% block content %}
<div class="row about-stylematch about-stylematch-privatperson">
		<div class="span12">
		<ul class="nav nav-tabs">
			  <li class="active">
			    <a href="/om-stylematch/privatperson/">Privatperson</a>
			  </li>
			  <li><a href="/om-stylematch/frisör/">Frisör</a></li>
			</ul>
			<div class="main-argument" >
				<h1>Ditt bästa sätt att hitta en frisör<br> som passar dig</h1>
				<h2>StyleMatch är en sida där du enkelt kan hitta och boka en frisör som passar din stil. På ett och samma ställe kan du nu jämföra frisörers stil, priser och vad frisören är bra på att klippa.</h2>
				
				<a href="/sök/" class="btn btn-large btn-info">Hitta en frisör</a>
				
			</div>
			
		</div>
</div>
	<div class="row about-stylematch second-arguments-privatperson">
		
		<div class="span12">
			<h2>Vi berättar mer</h2>
		</div>
		
	<div class="span6 citat-1">
		hej
	</div>
	<div class="span6 citat-2">
		hej
	</div>	
	<div class="span6 citat-3">
		hej
	</div>
	<div class="span6 citat-4">
		hej
	</div>			
		
	</div>	
			
	<div class="span12 frisor-page-seen-in">
    <hr class="soften" style="margin:25px 0px;">
    <h4>StyleMatch i Media</h4>
		
		<div class="first-row"> 
		 <!--   CORREN		 -->
		        <a target="_blank"  href="{{ STATIC_URL }}img/in_media/Corren-stor.png"><img src="{{ STATIC_URL }}img/frisor_page_logos/correnfull_opacity.png"
		onmouseover="this.src='{{ STATIC_URL }}img/frisor_page_logos/correnfull.png'"
		onmouseout="this.src='{{ STATIC_URL }}img/frisor_page_logos/correnfull_opacity.png'" border="0"/></a>
		  <!--   END CORREN		 -->
		  <!--   WEBBKOMET		 -->
			<a target="_blank"  href="http://webbkomet.se/project/index/id/1040"><img src="{{ STATIC_URL }}img/frisor_page_logos/webbkommetfull_opacity.png"
		onmouseover="this.src='{{ STATIC_URL }}img/frisor_page_logos/webbkommetfull.png'"
		onmouseout="this.src='{{ STATIC_URL }}img/frisor_page_logos/webbkommetfull_opacity.png'" border="0"/></a>
		  <!--  END WEBBKOMET		 -->  
		  <!--   AFFÄRSLIV		 -->
			<a target="_blank"  href="http://www.affarsliv.com/?articleid=6101574&date=&menuids="><img src="{{ STATIC_URL }}img/frisor_page_logos/affarslivfull_opacity.png"
		onmouseover="this.src='{{ STATIC_URL }}img/frisor_page_logos/affarslivfull.png'"
		onmouseout="this.src='{{ STATIC_URL }}img/frisor_page_logos/affarslivfull_opacity.png'" border="0"/></a>
		  <!--  END AFFÄRSLIVS</div>		 -->
		</div><div class="second-row"><!--   NT		 -->
			<a target="_blank"  href="{{ STATIC_URL }}img/in_media/nt-tidning.jpg"><img src="{{ STATIC_URL }}img/frisor_page_logos/ntfull_opacity.png"
		onmouseover="this.src='{{ STATIC_URL }}img/frisor_page_logos/ntfull.png'"
		onmouseout="this.src='{{ STATIC_URL }}img/frisor_page_logos/ntfull_opacity.png'" border="0"/></a>
		  <!--  END NT		 -->
		  <!--   LINKÖPINGS TIDNING		 -->
			<a target="_blank"  href="http://www.linkopingstidning.se/article/articleview/48270/1/73/"><img src="{{ STATIC_URL }}img/frisor_page_logos/linkopingstidningenfull_opacity.png"
		onmouseover="this.src='{{ STATIC_URL }}img/frisor_page_logos/linkopingstidningenfull.png'"
		onmouseout="this.src='{{ STATIC_URL }}img/frisor_page_logos/linkopingstidningenfull_opacity.png'" border="0"/></a>
		  <!--  END LINKÖPINGS TIDNING		 --> </div>
		  
  
  
  </div>


</div>

{% endblock %}
