{% extends "base.html" %}
{% load url from future %}

{% block title %}Om StyleMatch{% endblock %}

{% block content %}

<div class="row main-content about-us">

	
		<!- about us navigation ->
		<div class="about-navigation span3" id="nav-header-test">
				<ul class="nav nav-list" >
				  <li class="nav-header" >
				    Om StyleMatch
				  </li>
				  <li class>
				    <a href="#tjansten-frame">Om StyleMatch</a>
				  </li>
				  <li class>
				    <a href="#vision-frame">Vår Vision</a>
				  </li>
				  <li class>
				    <a href="#omoss-frame">Om Oss</a>
				  </li>
				    <li>
				    <a href="#team-frame">Teamet</a>
				  </li>
				  <li>
				    <a href="#history-frame">Historia</a>
				  </li>
				  <li>
				    <a href="#blogg-frame">Blogg & Sociala Medier</a>
				  </li>
				  
				  
				  <li class="nav-header">
				    Press
				  </li>
				      <li>
				    <a href="#press-frame">Fakta</a>
				  </li>
				  <li>
				    <a href="#presskontakt-frame">Presskontakt</a>
				  </li>
				  <li>
				    <a href="#picture-frame">Bilder</a>
				  </li>
				</ul>
		</div>
		<!- end about us navigation ->
	
		<div class="pull-right span9">
		
			  {% include 'about_us/tjansten_frame_snippet.html' %}
			  {% include 'about_us/vision_frame_snippet.html' %}
			  {% include 'about_us/omoss_frame_snippet.html' %}
			  {% include 'about_us/team_frame_snippet.html' %}
			  {% include 'about_us/historia_frame_snippet.html' %}
			  {% include 'about_us/blogg_frame_snippet.html' %}
			  {% include 'about_us/press_frame_snippet.html' %}
			  {% include 'about_us/presskontakt_frame_snippet.html' %}
			  {% include 'about_us/picture_frame_snippet.html' %}
		  
		</div>
</div>

{% endblock %}
