{% load bootstrap %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>

    {% bootstrap_less %}
    {# Used to load js that's specific to a page #}
    <title>{% block title %}Användarvillkor | StyleMatch{% endblock %}</title>

    {% if settings.GOOGLE_ANALYTICS_KEY %}
    <script type="text/javascript">
    var _gaq = _gaq || [];
      _gaq.push(['_setAccount', '{{ settings.GOOGLE_ANALYTICS_KEY }}']);
      // custom variables  
      _gaq.push(['_setCustomVar', 1, 'Current User', '{{ user.first_name }}', 1]);
      _gaq.push(['_setCustomVar', 2, 'Current User ID', '{{ user.id }}', 1]);
      _gaq.push(['_setCustomVar', 3, 'Record Owner ID', '101', 3]);
      _gaq.push(['_setCustomVar', 4, 'Record Type', 'Job', 3]);
      _gaq.push(['_setCustomVar', 5, 'Record ID', '87', 3]);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
    {% endif %}
  </head>
  <body class="body-padding-zero body-beta-background">

    <div class="container">
      <div class="beta-header">
      </div>

      <section id="gridSystem">
        {% block content %}
        <br><br>
        <div id="features-banner" class="shadow-beta well">
          <!-- start -->
          <div class="row">
            <div class="span8 offset2">
              <h1>Användarvillkor StyleMatch</h1>

              <p>
                <h2>1. Godkännande av användarvillkor</h2>

                StyleMatch (Organisationsnummer: 556871-7689 Adress: Rydsvägen 8A, 584 31 Linköping, Östergötlands län)<br>
                nedan kallad StyleMatch, tillhandahåller och ansvarar för de tjänster som erbjuds på aktuell webbplats (http://stylematch.se/), nedan kallad Webbplatsen.
                <br><br>
                För att kunna registrera sig som användare, och använda den kompletta tjänsten (se under tjänstens innehåll), krävs att användaren innehar ett Gesällbrev för frisöryrket. StyleMatch förbehåller sig rätten att när som helst under medlemskapet kontrollera att användaren innehar ett Gesällbrev för frisöryrket.
                <br><br>
                Det finns även en möjlighet för den som utbildar sig till frisör att registrera ett konto hos StyleMatch, men dock inte med fullständig tillgång till alla de tjänster som StyleMatch tillhandahåller (se under tjänstens innehåll). Registrering får ske om användaren som utbildar sig är över 18 år eller har målsmans tillstånd vid registrering. StyleMatch förbehåller sig rätten att när som helst begära in intyg om att studier sker vid svensk frisörutbildning.
                <br><br>
                Genom ansökan/registrering om att bli medlem hos StyleMatch och genom användandet av Webbplatsen samtycker användaren till dessa användarvillkor, nedan kallade Användarvillkor.
                <br><br>
                Användarvillkoren anger vilka rättigheter och skyldigheter användaren har samt vilka rättigheter och skyldigheter StyleMatch som leverantör har. Det är viktigt att användaren läser igenom användarvillkoren innan registrering på Webbplatsen sker.

                <h2>2. Tjänstens innehåll</h2>

                Registering hos StyleMatch berättigar användaren till ett konto på Webbplatsen med möjligheten att publicera text, ljud och bild i en för användaren personlig användarprofil för att marknadsföra användaren mot potentiella kunder.
                <br><br>
                Om användaren innehar ett Gesällbrev kommer användarprofilen vara en del av en sökmotor som StyleMatch tillhandahåller. Potentiella kunder har i sökmotorn möjlighet att söka på olika kriterier som matchar användarens användarprofil och kundens önskemål.
                <br><br>
                Om användaren inte innehar ett Gesällbrev, utan utbildar sig vid en frisörutbildning, har användaren en möjlighet att skapa en användarprofil, men användarprofilen kommer inte att utgöra en del av den sökmotor som tillhandahålls av StyleMatch.
                <br><br>
                Registrering som användare hos StyleMatch berättigar till serverutrymme på StyleMatchs servrar för det material som publiceras på användarprofilen.
                <br><br>
                Användarprofilen får användas för att lägga upp information om vilken typ av tjänster användaren, som yrkesverksam inom frisörbranschen eller som studerande på en frisörutbildning, kan erbjuda och är specialiserad på.
                <br><br>
                Användarprofilen får även användas för att förmedla kontaktuppgifter från användaren till potentiella kunder. StyleMatch förmedlar dock inte själva några kunder till användaren, men förbehåller sig rätten att kunna erbjuda denna tjänst i framtiden.
                <br><br>
                Syftet med tjänsten är att användaren ska kunna marknadsföra sin personliga stil som frisör mot potentiella kunder och på så sätt utöka sin kundbas. Syftet med tjänsten är således inte att vara en plats för publicering av olagligt material eller på annat sätt kränkande eller stötande material.
                <br><br>
                Tjänsterna som tillhandahålls på Webbplatsen är kostnadsfria, men Style Match förbehåller sig rätten att, efter meddelande till användaren, börja ta ut en avgift för tillhandahållandet av tjänsterna. Användaren har rätt att, kostnadsfritt, avsluta sitt konto hos StyleMatch, med omedelbar verkan, om användaren inte vill erlägga avgift för fortsatt tillhandahållande av de erbjudna tjänsterna. StyleMatch har ingen rätt att ta ut en retroaktiv avgift för de tjänster som erbjuds.

                <h2>3. Användarens ansvar och skyldigheter</h2>

                Medlemskapet hos StyleMatch och användandet av tjänsten är personligt och kan inte överlåtas till tredje man. Vid registrering ansvarar användaren av tjänsten för att korrekta uppgifter lämnas till StyleMatch och att användaren uppfyller de krav som föreligger för att få registrera sig för tjänsterna. Användaren ansvarar även för att obehöriga inte har tillgång till användarens konto och att inloggningsuppgifter knutna till kontot hålls skyddade. Om användaren får information om att obehörig har tillgång till användarens konto har användaren en skyldighet att meddela StyleMatch att obehöriga använder kontot. Detta för att lämpliga åtgärder ska kunna vidtagas av StyleMatch och att kontot vid behov ska kunna stängas av eller avslutas. Användaren ansvarar också för att inte skapa mer än ett konto hos på Webbplatsen.
                <br><br>
                Användaren av tjänsten ansvarar för att det material som publiceras på Webbplatsen i form av text, ljud och bild och annan media inte utgör intrång i upphovsrätt enligt lag (1960:729) om upphovsrätt till litterära och konstnärliga verk.
                <br><br>
                Användaren av StyleMatchs tjänster ansvarar även för att text, ljud bilder och annan media som publiceras på användarprofilen inte:
                Kränker, hotar eller innebär ett intrång i någon annans privatliv.
                Uppmanar någon till att företa en brottslig handling eller innebär att en brottslig handling genomförs.
                Utgör en olaga våldshandling, är pornografiskt eller utgör hets mot folkgrupp.
                Utgör otillbörlig marknadsföring i strid med marknadsföringslagen (2008:486).
                På annat sätt är stötande, hotfullt, kränkande eller av obscen natur.
                <br><br>
                Användaren ansvarar även för att det material som publiceras på användarprofilen är på svenska eller engelska och att inte annat språk används i användarprofilerna.
                <br><br>
                Användaren har en skyldighet att inte använda sig av anordningar, programvara, program eller andra rutiner som kan störa Webbplatsens funktionalitet och att inte publicerat material, eller genom användning av Webbplatsen, sprida virus, spam eller andra skadliga koder på Webbplatsen.
                <br><br>
                Användaren ansvarar för att inte använda information på Webbplatsen för att upprätta konkurrerande verksamhet till StyleMatch.
                <br><br>
                Avändaren ansvarar för skada som kan uppstå för StyleMatch och tredje man på grund av användarens missbruk av de tjänster som StyleMatch tillhandahåller.

                <h2>4. StyleMatchs rätt att ta bort publicerat material</h2>

                StyleMatch har rätt att ta bort material från de användarens användarprofiler utan förvarning, information eller motivering. StyleMatch förbehåller sig även rätten att avgöra vad som kan anses vara stötande eller på annat sätt opassande material och således kan tas bort från användarens profil.

                <h2>5. StyleMatchs skyldigheter</h2>

                StyleMatch är skyldiga att följa lag (1998:112) om ansvar för elektroniska anslagstavlor, vilket innebär att StyleMatch har en skyldighet att hålla uppsikt över tjänsten och webbplatsen med hänsyn till tjänstens omfattning och inriktning samt att StyleMatch har en skyldighet att ta bort vissa meddelanden och information, alternativt hindra spridning av material som klassas som brottsligt alternativt utgör upphovsrättsintrång.
                <br><br>
                Enligt lag (1998:112) om ansvar för elektroniska anslagstavlor är StyleMatch även skyldiga att utge sin identitet till den som ansluter sig till tjänsten, samt lämna information om i vilken utsträckning meddelanden som inkommit kan bli tillgängliga för andra användare.
                <br><br>
                StyleMatch ansvar inte för skada som har orsakats användaren på grund av uppsåt eller grov vårdslöshet.

                <h2>6. Ansvarsbegränsningar för StyleMatch</h2>

                StyleMatch strävar efter att de tillhandahållna tjänsterna ska fungera utan störningar, men kan inte garantera att tjänsterna är fri från avbrott, fel eller störningar. StyleMatch garanterar inte vare sig tjänstens tillförlitlighet, tillgänglighet eller förmåga att uppfylla användarens behov. Tjänsterna tillhandahålls i befintligt skick och användaren kan inte erhålla någon ersättning för eventuell skada som orsakats på grund av störningar i tjänsterna.
                <br><br>
                StyleMatch förbehåller sig även rätten att när som helst stänga av Webbplatsen eller tjänsterna för underhåll, omstart eller för att utveckla och förbättra Webbplatsen eller tjänsterna.
                <br><br>
                StyleMatch förhandsgranskar inte det material som publiceras på användarens användarprofil och tar således inget ansvar för de uppgifter som publiceras av användaren. StyleMatch ska inte under några omständigheter förknippas med de uppgifter som användarna förmedlar på sina användarprofiler och annat, från användarna, publicerat material.

                <h2>7. Annonsering på användarprofilerna</h2>

                StyleMatch förbehåller sig rätten att annonsera på användarens användarprofil i den form som StyleMatch anser lämplig. Rätten att annonsera omfattar StyleMatchs samarbetspartners, vilka finns angivna på Webbplatsen.
                <br><br>
                Användaren har inte rätt att modifiera, manipulera eller försöka eliminera annonsutrymmena som finns på användarprofilerna. Användaren har inte heller rätt att själv lägga upp annonser till tredje man i sin användarprofil.

                <h2>8. Behandling av personuppgifter</h2>

                StyleMatch behandlar användarens personuppgifter i syfte att kunna tillhandahålla, administrera, och kontrollera användarens användning av tjänsten. Syftet med behandlingen av användarens personuppgifter är även att kunna utveckla och förbättra de tjänster som StyleMatch erbjuder. Genom registrering av ett användarkonto, och godkännande av Användarvillkoren, samtycker användaren till att StyleMatch behandlar användarens personuppgifter. Behandlingen av personuppgifter sker i enlighet med personuppgiftslagen (1998:204).
                <br><br>
                Användaren har rätt att begära ett registerutdrag från StyleMatch för att få information om, och kunna kontrollera, vilka uppgifter som finns registrerade hos StyleMatch på användaren.
                <br><br>
                StyleMatch förbinder sig genom Användarvillkoren att inte sälja, dela eller på annat sätt sprida användarens personuppgifter till tredje man utom enligt vad som anges nedan.
                <br><br>
                Personuppgifter kan överföras till tredje man som agerar å StyleMatch vägnar eller för StyleMatchs räkning, för vidare bearbetning i enlighet med det eller de syften för vilka uppgifterna ursprungligen samlades in och kan på annat sätt bearbetas enligt lag. Sådan tredje man har ingått avtal med StyleMatch om att endast använda personuppgift för överenskommet ändamål och om att inte sälja användarens personuppgifter till tredje man utom då så må krävas enligt lag eller då StyleMatch tillåter det.
                <br><br>
                Personuppgift som samlas in från användaren kan även överföras till tredje man om verksamheten på webbplatsen eller en del därav och de kunduppgifter som är knutna till den säljs, överlåtes eller avyttras, i vilket fall skulle StyleMatch kräva av köparen, mottagaren respektive förvärvaren att denne behandlar personuppgifterna enligt dessa villkor.
                <br><br>
                Personuppgift kan även röjas för tredje man om StyleMatch är skyldiga att göra det på grund av gällande lag, domstols beslut eller statlig förordning eller då sådant röjande i övrigt erfordras till stöd för brotts- eller annan rättslig utredning eller förfarande i Sverige eller i annat land.

                <h2>9. Lagring av personuppgifter</h2>

                Användaren samtycker, genom godkännande av Användarvillkoren och registrering hos StyleMatch, till att lagring av användarens personuppgifter sker inom EU och EES-området, men med rättigheter för StyleMatch att flytta lagringen av personuppgifter till tredje land. Likväl är personuppgiftslagen (1998:204) tillämplig. Om StyleMatch flyttar lagringen av personuppgifter till tredje land ansvarar StyleMatch för att lagringen av personuppgifterna i landet håller tillräckligt hög säkerhetsnivå i fråga om tekniska och organisatoriska åtgärder för att skydda de uppgifter som behandlas.

                <h2>10. Avslutande av användarkonto och upphörande av medlemskap</h2>

                Användaren har när som helst rätt att avsluta sitt konto hos StyleMatch och säga upp tillhandahållandet av tjänsterna. Önskan att avsluta användarens konto och säga upp tjänsterna som StyleMatch tillhandahåller ska meddelas StyleMatch skriftligen eller via funktionen ”Avsluta konto” som användaren finner under sin tjänstens administrationspanel.
                <br><br>
                StyleMatch förbehåller sig rätten att avsluta en användares konto om de tjänster som tillhandahålls av StyleMatch missbrukas av användaren. StyleMatch har även rätt att avsluta en användares konto om användaren bryter mot Användarvillkoren.

                <h2>11. Användande av cookies</h2>

                StyleMatch använder sig av cookies på Webbplatsen. En cookie är en textfil som webbplatsen begär att få spara på användarens dator för att samla in information om hur en webbplats används. Cookies finns i två former; persistenta cookies, vilket är en cookie som sparas under en längre tid på besökarens dator, och sessionscookies, vilken enbart lagras temporärt i besökarens dator vid besök på webbplatsen. StyleMatch använder sig av persistenta cookies i syfte att följa besökarens navigering på Webbplatsen och föra statistik över hur användaren använder Webbplatsen.
                <br><br>
                StyleMatch säkerställer, som innehavare av Webbplatsen, att den personliga information som använda cookies samlar in inte missbrukas.  
                <br><br>
                Genom registrering av användarkonto och godkännande av Användarvillkoren samtycker användaren till StyleMatchs, och deras samarbetspartners, hantering av cookies.

                <h2>12. Ändring av Användarvillkoren</h2>

                StyleMatch förbehåller sig rätten att när som helst ändra Användarvillkoren. Användaren kommer vid ändring av Användarvillkoren erhålla information om vilka ändringar som kommer att genomföras. En uppdaterad version av Användarvillkoren kommer alltid att tillhandahållas av StyleMatch på Webbplatsen.


                <h2>13. Överlåtelse av rättigheter och skyldigheter enligt Användarvillkoren</h2>

                StyleMatch förbehåller sig rätten att kunna överlåta sina rättigheter och skyldigheter enligt Användarvillkoren.

                <h2>14. Tillämplig lag och tvister</h2>

                Tolkning och tillämpning av Användarvillkoren ska ske enligt svensk lag.
                Tvist i anledning av Användarvillkoren avgörs av svensk allmän domstol, med uteslutande av annat tvistelösningsforum.</p>

              <!-- stop -->
            </div>
          {% endblock %}
      </section>
      {% block footer %} {% endblock %}
      </div>
  </body>
</html>
