{% load url from future %}
{% load index_extras %}

<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="btn btn-navbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <a class="brand" href="/">StyleMatch</a>
      <div class="btn-group pull-right">
        <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
          <i class="icon-user"></i> {{ user.first_name }} {{ user.last_name }}
          <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
          <li><a href="{% url 'edit-account-settings' %}">Kontoinställningar</a></li>
          <li class="divider"></li>
          <li><a href="{% url 'logout' %}">Logga ut</a></li>
        </ul>
      </div>
      <div class="nav-collapse">
        <ul class="nav">
          {#{% url 'profile_dashboard' as pdr %}<li class="{% active request pdr %}"><a href="/#dashboard">Översikt</a></li>#}
          {% url 'profile_display_with_profile_url' slug=user.get_profile.profile_url as pdr %}<li class="{% active request pdr %}"><a href="{{ pdr }}">Visa profil</a></li>
          {% url 'profile_edit' as pe              %}<li class="{% active request pe  %}"><a href="{{ pe  }}">Ändra profil</a></li>
          {% url 'edit_images' as ei               %}<li class="{% active request ei  %}"><a href="{{ ei  }}">Lägg upp bilder</a></li>
          {% url 'profiles_edit_services' as pes   %}<li class="{% active request pes %}"><a href="{{ pes }}">Förändra prislista</a></li>
          {% url 'profiles_add_hours' as pah       %}<li class="{% active request pah %}"><a href="{{ pah }}">Förändra öppettider</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
