{% load bootstrap %}
{% load index_extras %}
{% load url from future %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <script type="text/javascript" src="{{ JQUERY_SCRIPT }}"></script>

    {% bootstrap_less %}

    {# Used to load js and css that's specific to a page. Should add a block for js at end of this file for javascript #}
    {% block html-head %}{% endblock %}

    <title>Stylematch | {% block title %}{% endblock %}</title>
  </head>
  {% block html-body-styling %}
  <body class="body-padding-zero" data-spy="scroll" data-target=".subnav" data-offset="50" data-twttr-rendered="true" style="background: url({{STATIC_URL}}img/header_background.png) repeat-x;background-size: auto 130px;background-color:grey;">
    {% endblock %}
    <div class="container">
      <div class="row">
        {% if user.is_authenticated %}


        <div class="span4 offset8 top-right-menu pull-right">
           <a class="pull-right" href="{% url 'logout' %}">Logga ut</a>
           <a class="pull-right top-menu-border" href="{% url 'edit-account-settings' %}">Kontoinställningar</a>
           <a class="pull-right top-menu-border" href="{% url 'profile_display_redirect' %}">Hej {{ user.get_profile.profile_first_name }}</a>
         
         
        </div>
        {% else %}
        <div class="span3 offset9 top-right-menu pull-right">
          <a  class="pull-right" href="{% url 'auth_login' %}">Logga in</a>
          <a class="pull-right top-menu-border" href="{% url 'registration_register' %}">Bli medlem som frisör</a>
          
        </div>


        {% endif %}
      </div>

      <div class="row masthead">
        <div class="span4">
          <a href="{% url 'index_page' %}"><img src="{{STATIC_URL}}img/logo.png"/></a>
        </div>
        {% if user.is_authenticated %}

        <div class="span7 main-menu">
          <a href="{% url 'profile_display_redirect' %}">Min profil</a>
          <a href="#">Sök frisörer</a>
          <a href="#">Få inspiration</a>
          <a href="#">Bjud in vän</a>
        </div>


        {% else %}

        <div class="span7 main-menu">
          <a href="#">Hitta frisör</a>
          <a href="#">Bli inspirerad</a>
          <a href="{% url 'about_page' %}">Om Stylematch</a>
        </div>

        {% endif %}

      </div>
    </div>
    {% block second-background %}
    <div class="second-background" style="background: url({{STATIC_URL}}img/Flow-Background.jpg);">
      {% endblock %}
      <div class="container">

        <div class="main-background">
          {% block content %} {% endblock %}
        </div>
      </div>
      {% block footer %}{% include 'base_footer.html' %} {% endblock %}
    </div>
</div>
{% block javascript-block %}{% endblock %}
{% google_analytics %}
</body>


</html>
