
{% load url from future %}

{% block footer %}
<div class="base-footer-div">
  <div class="container row">
    <div class="span7 footer-menu">
    <p style="display:inline-block; margin-right:30px;">© Copyright Avizera AB</p>
      <a href="{% url 'features_page' as features %}{{ features }}">Synas på StyleMatch</a>
      <a href="{% url 'about_page' as about %}{{ about }}">Kontakt</a>
      
    </div>
    <div class="span2">
      <a href="https://twitter.com/StyleMatch_SE" class="twitter-follow-button" data-show-count="true" data-lang="sv">Följ @StyleMatch_SE</a>
      <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
    </div>
     <div class="span2">
      <div id="fb-like" style="margin-left:30px;" class="fb-like" data-href="https://www.facebook.com/StyleMatch.SE" data-send="false" data-layout="button_count" data-width="50" data-show-faces="false"></div>
    </div>
    
   
    

  </div>

</div>

</div>

{% endblock %}
