
{% load url from future %}

{% block footer %}
<div class="base-footer-div">
  <div class="container row">
    <div class="span6 footer-menu">
      <a href="{% url 'features_page' %}">Synas på StyleMatch</a>
      <a href="{% url 'about_page' %}">Kontakt</a>
    </div>
    <div class="span1 offset3">
      <div class="fb-like" data-href="https://www.facebook.com/StyleMatch.SE" data-send="false" data-layout="button_count" data-width="450" data-show-faces="false"></div>
    </div>
    <div class="span1">
      <a href="https://twitter.com/StyleMatch_SE" class="twitter-follow-button" data-show-count="false" data-lang="sv">Följ @StyleMatch_SE</a>
      <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
    </div>

  </div>

</div>

</div>

{% endblock %}
