{% load index_extras %}
{% load bootstrap %}
{% load url from future %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <script type="text/javascript" src="{{ JQUERY_SCRIPT }}"></script>

    {% bootstrap_js all %}
    {% bootstrap_less %}
    {# Used to load js that's specific to a page #}
    {% block html-head %}{% endblock %}


    <title>Stylematch | {% block title %}{% endblock %}</title>
  </head>
  <body class="body-padding-zero body-beta-background">

	<div class="bigpage">
	<div class="container">
		<div class="span4 logo-account-pages">
    		<a href="{% url 'index_page' as index %}{{ index }}"><img src="{{STATIC_URL}}img/logo.png"/></a>
    	</div>
    </div>
    
      {% block header %}
      {% endblock %}
      <div class="container">
        <section id="gridSystem">
          {% block content %} {% endblock %}
        </section>
        {% block footer %} {% endblock %}
      </div>

      {% google_analytics %}
  </body>
</html>
