<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>960 Grid System &mdash; Demo</title>
    <link rel="stylesheet" href="static/css/reset.css" />
    <link rel="stylesheet" href="static/css/text.css" />
    <link rel="stylesheet" href="static/css/960.css" />
    <link rel="stylesheet" href="static/css/demo.css" />
    <link rel="stylesheet" href="static/css/style.css" />
    <title>{% block title %}{% endblock %}</title>
  </head>
  <body>
    {% block content %}{% endblock %}
    {% block footer %}{% endblock %}
  </body>
</html>
