{# load google_analytics #}
{% load bootstrap %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <script type="text/javascript" src="{{ JQUERY_SCRIPT }}"></script>
    <script type="text/javascript">
   $('#loginmodal').modal();
    </script>

    {% bootstrap_js all %}
    {% bootstrap_less %}
    {# Used to load js that's specific to a page #}
    {% block html-head %}{% endblock %}
  
    
    <title>{% block title %}Hi{% endblock %}</title>
  </head>
   <body class="body-padding-zero body-beta-background">
    
	<div class="container">
	<div class="beta-header">
	 {% include "login_modal_snippet.html" %}
	 <div class="login start"><a href="#loginmodal" data-toggle="modal" class="btn btn-large btn-info"><i class="icon-user"></i><span> Logga in</span></a></div>
	</div>
	{% block header %} 
	{% endblock %}
	<div class="container">
      <section id="gridSystem">
	{% block content %} {% endblock %}
      </section>
	{% block footer %} {% endblock %}
    </div>
  {# analytics #}
  </body>
</html>
