{% load url from future %}

{% block header %}
  <div class="row">
  
  {% if user.is_authenticated %}
  	<div class="container page-header-custom-logged-in" >
  	<img src="/static/img/logo.png">
  	</img>
  	
  
  		
  	<div class="page-header-custom-logged-in-links pull-right">
  <a href="{% url 'profile_edit' %}">Redigera profil</a>
  	<a href="#"> Bjud in en vän</a>
  	<a href="#"> Kontoinställningar</a>
  	<a href="/logout/"> Logga ut</a>
  	</div>
  	</div>
  	
  {% else %}
  
  	<div class="container  page-header-custom">
  	<img src="/static/img/logo.png">
  	</img>
  	
  	<div class="page-header-custom-links pull-right">
	    <a href="/login">Logga in</a>
	    <a href="{% url 'registration_register' %}">Bli medlem som frisör</a>
	    <a href="/about-us/"> Om Oss</a>
  	</div>
  	
  	</div>
  
  {% endif %}
  </div>

  {% endblock %}
