<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="{{ request.get_full_path }}/static/css/reset.css" />
    <link rel="stylesheet" href="{{ request.get_full_path }}/static/css/text.css" />
    <link rel="stylesheet" href="{{ request.get_full_path }}/static/css/960.css" />
    <link rel="stylesheet" href="{{ request.get_full_path }}/static/css/demo.css" />
    <link rel="stylesheet" href="{{ request.get_full_path }}/static/css/style.css" />

  
    
    <title>{% block title %}Hi{% endblock %}</title>
  </head>
  <body>
    {% block header %} {% endblock %}
    {% block content %} {% endblock %}
    {% block footer %} {% endblock %}
  </body>
</html>
