{% extends "base.html" %}
{% load url from future %}
{% load index_extras %}

{% block title %}Registrera konto{% endblock %}
{% block content %}

<div class="container">

  <div class="row">


    <div style="margin-top:190px;" class="span6">

      <h3>Vi skickar ut inbjudningskoder löpande, så fyll i din emailadress för att ställa dig på väntelistan.</h3>

      <form action="" style="margin-top:20px;" method="post">{% csrf_token %}
        {% csrf_token %}
        <input style="height:25px;width:35%;margin: 0px 30px 0px 0px;" name="email" id="id_email" type="text" placeholder="E-postadress">

        <button type="submit" class="btn-large btn-info">Ans&ouml;k om inbjudan</button>
        {{ form.email.errors }}
      </form>
    </div>
      <div class="span5 offset1 account-register-info">
	<h2>MED STYLEMATCH FÅR DU...</h2>
	
	<h3>- En personlig hemsida (www.stylematch.se/dittnamn)<br>
	- Vara med i StyleMatch exklusiva sökmotor
	</h3>
	
	<h2>DÄR DU KAN...</h2>
	<h3>
	- Lyfta fram din stil<br>
	- Få nya kunder som passar dig<br>
	- Sprida din hemsida via sociala medier<br>
	</h3>
	
	
	
	
      </div>

  </div>
</div>



    {% endblock %}
