{# load google_analytics #}
{% load bootstrap %}
{% load url from future %}
{% load index_extras %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <script type="text/javascript" src="/static/jquery-ui-1.8.18.custom.min.js"></script>
    <script type="text/javascript" src="{{ JQUERY_SCRIPT }}"></script>
    <script type="text/javascript">
      $('#loginmodal').modal();
    </script>
	<script type="text/javascript">
      $('#invitemodal').modal();
    </script>

    {% bootstrap_js all %}
    {% bootstrap_less %}

    {# Used to load js that's specific to a page #}
    {% block html-head %}

    {% endblock %}


    <title>{% block title %}Stylematch - Framtidens marknadsf&ouml;ringsverktyg{% endblock %}</title>
  </head>
  <body class="body-padding-zero body-beta-background">

    <div class="container">

      <div class="beta-header">
        {% include "login_modal_snippet.html" %}
        <div class="login start"><a href="#loginmodal" data-toggle="modal" class="btn btn-large btn-info"><i class="icon-user"></i><span> Logga in</span></a></div>
      </div>
      <section id="gridSystem">
        {% block content %}
        <div class="beta-banner shadow-beta well"><center><h1 class="beta-banner">Framtidens marknadsf&ouml;ringsverktyg <br><span class="beta-banner">f&ouml;r utbildade fris&ouml;rer</span></h1></center>
          
           {% include "invite_modal_snippet.html" %}
         <br> <center><a href="#invitemodal" data-toggle="modal" class="btn btn-large btn-info">G&aring; med h&auml;r!</button></a></center></h3>
         <br>
          <h2 class="beta-banner"><a class="beta-banner" href="/features">L&auml;s mer om Stylematch</a></h3>

</div>

{% endblock %}
</section>
{% block footer %} {% endblock %}
</div>
{% google_analytics %}
</body>
</html>
