{% extends "base.html" %}
{% load url from future %}

{% block html-head %}

<meta property="og:title" content="StyleMatch.se: Hitta en frisör som passar dig">
<meta name="description" content="På StyleMatch hittar du din nästa frisör i {{ city }}. Bläddra bland bilder på tidigare klippningar och uppsättningar för att hitta en som passar dig och din hårtyp.">

<script src="{{ STATIC_URL }}js/underscore-min.js"></script>
<script src="{{ STATIC_URL }}js/backbone-min.js"></script>
<script src="{{ STATIC_URL }}js/backbone-tastypie.js"></script>

<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.18/jquery-ui.min.js"></script>
<script src="{{ STATIC_URL }}js/jquery.notify.js"></script>
<script src="{{ STATIC_URL }}js/jquery/jquery.alerts.js"></script>
<script src="{{ STATIC_URL }}js/bootstrap-collapse.js"></script>
<script type="text/javascript"
      src="http://maps.googleapis.com/maps/api/js?key=AIzaSyACqrBMuk4aRYqv8mAb-d-Z1k-QOct9sW0&sensor=false">
</script>

<style>
  /* remove background around twitter bootstrap modal, on this page */
  .modal-backdrop {
  opacity:0;
  }
</style>

<script type="text/javascript">
  $('#myCollapsible').collapse({
    toggle: false
  })
</script>

<script type="text/javascript">
  function moveScroller() {
    var a = function() {
      var b = $(window).scrollTop();
      var d = $("#scroller-anchor").offset().top;
      var c=$("#scroller");
      var footer = $('.base-footer-div').offset().top;
      var profile_list_height = $('#profile-list').height();
      if (b>d && profile_list_height > 510) {
        pos = footer - (b+600);
        if (pos > 0) pos = 0;
        c.css({position:"fixed",top:pos+"px"})
      } else {
        if (b<=d) {
          c.css({position:"relative",top:""})
        }
      }
    };
    $(window).scroll(a);a();
  }
</script>

{% endblock %} {# html-head #}

{% block title %}Frisörer i {{ city }}{% endblock %}

{% block content %}

<div class="row">
  <div class="span12 search-city-title">
    <span>Frisörer i {{ city }}</span>
    <a href="/">Tillbaka till förstasidan</a>
  </div>
  <div class="span4 pull-right city-search-information-span">
    <div id="sidebar" style="width:270px;">
      <div id="scroller-anchor">
      </div>
      <div id="scroller" style="margin-top:10px; width:270px">
       

        <!-- Detta är info om stylematch -->
        <div class="search-city-about-stylematch">
          <p>
            Om StyleMatch
          </p>
          <div style="width:286px;height:200px;overflow:auto;">
            <h1>Frisör i {{ city }}</h1>
            <p>
               I {{ city }} hittar du din favoritsalong eller frisör, där du kan klippa håret, 
               göra slingor, permanenta, färga eller bara fixa en herrklippning eller damklippning. 
               Du kan hitta en frisör i {{ city }} som passar din personlighet och vad du vill ha i en 
               <b>klippning</b>. Alla <b>frisörer</b> på StyleMatch är utbildade så du kan känna dig säker på 
               kvalitet.
            </p>
            <p>
              <a href="/">StyleMatch.se</a> har {{ profiles|length }} anslutna frisörer i {{ city }} som klipper stans bästa frisyrer
            </p>
            
            <h3>De bästa frisörerna i {{ city }}</h3>
            <ul>
            {% for profile in profiles %}
              <li>
                <a href="{{ profile.profile_url }}">{{ profile.first_name }} {{ profile.last_name }}</a> på {{ profile.salon_name }}.
                {{ profile.salon_adress }}, {{ profile.salon_city }}
              </li>
            {% endfor %}
            </ul>
          </div>
        </div> <!-- .search-city-about-stylematch -->
        <!-- Slut på info om stylematch --> 
        
        <!-- kartan         -->
        <div class="search-city-map" id="map_canvas">
        </div>
        <!-- slut på kartan         -->
      </div>
    </div>
    <script type="text/javascript">
      $(function() {
        moveScroller();
      });
    </script>
  </div> <!-- .city-search-information-span -->

  <div class="span8" id="profile-list">
    {% if profiles|length > 0 %}
    <ul class="profile-list profile-list-margin-zero">
    {% for profile in profiles %}
      <li class="profile-list-item-city" >
        <div style="position:relative;height:105px;">
          <div class="span profile-list-picture">
            <a href="/{{ profile.profile_url }}" >
              <img src="{{ profile.profile_image }}"
                   alt="{{ profile.first_name }} {{ profile.last_name }} på {{ profile.salon_name }}"
                   style="height:100px; width:100px;" />
            </a>
          </div>

          <a href="/{{ profile.profile_url }}">
            <p class="city-search-profilename"
               style="display:inline-block">{{ profile.first_name.title }} {{ profile.last_name.title }}
            </p>
          </a>
          <p class="profile-list-item-city-salon-name">{{ profile.salon_name.title }}</p>
          <p class="profile-list-item-city-salon-adress"> {{ profile.salon_adress.title }}, {{ profile.salon_city.title }}</p>
          <div class="profile-list-link-to-profile">
            <a class="search-page-view-on-map pull-right" href="{{ profile.profile_url }}">
              <i class="icon-user"></i>
              Visa Profil
            </a>
          </div>
        </div>
      </li>
    {% endfor %}
    </ul>
    {% else %} {# we have no stylists in this city #}
    <div style="text-align:center;">
      <h2 style="margin: 30px;">
        Vi har tyvärr inga frisörer i {{ city }} än.
      </h2>
      <div class="well">
        <h3>Är du frisör?</h3>
        <p style="width: 400px; margin: 10px auto;">
          Passa på att vara den första att synas här genom att göra din egna
          StyleMatch-profil. Det är enkelt och tar bara 5 minuter.
        </p>
        <a href="{% url 'registration_register' %}" class="btn btn-info btn-large">Skapa din profil!</a>
      </div>
      <div class="well">
        <h3>Vill du kunna boka frisör i {{ city }}?</h3>
        <a href="#" rel="tooltip" data-original-title="Kommer snart"
           class="btn btn-info btn-large popover1">Tipsa din frisör!</a>
      </div>
    </div>
    <div style="text-align:center;">
    {% endif %}
  </div> <!-- #profile-list -->
</div>

<div id="fb-root"></div>


<script type="text/javascript">
  var geocoder;
  var map;

  function mapInit() {
    var myOptions = {
      center: new google.maps.LatLng(59.33, 18.07),
      zoom: 14,
      mapTypeId: google.maps.MapTypeId.ROADMAP
    };
    map = new google.maps.Map(document.getElementById("map_canvas"), myOptions);

    geocoder = new google.maps.Geocoder();
    geocoder.geocode( { 'address': '{{ city }}'}, function(results, status) {
      map.setCenter(results[0].geometry.location);
    });

    {% for profile in profiles %}
    geocoder.geocode( { 'address': '{{ profile.salon_adress }}, {{ profile.salon_city }}'},
                            function(results, status) {
      var marker = new google.maps.Marker({
        map: map,
        position: results[0].geometry.location,
        title: '{{ profile.salon_name }}'
      });
    });
    {% endfor %}
  }

  $(document).ready(function() {
    mapInit();
  });
</script>

{% endblock %} {# content #}


