{% extends "base.html" %}
{% load url from future %}

{% block html-head %}

<script src="{{ STATIC_URL }}js/underscore-min.js"></script>
<script src="{{ STATIC_URL }}js/backbone-min.js"></script>
<script src="{{ STATIC_URL }}js/backbone-tastypie.js"></script>

<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.18/jquery-ui.min.js"></script>
<script src="{{ STATIC_URL }}js/jquery.notify.js"></script>
<script src="{{ STATIC_URL }}js/jquery/jquery.alerts.js"></script>

<style>
  /* remove background around twitter bootstrap modal, on this page */
  .modal-backdrop {
  opacity:0;
  }
</style>


<script type="text/javascript">

function moveScroller() {
  var a = function() {
    var b = $(window).scrollTop();
    var d = $("#scroller-anchor").offset().top;
    var c=$("#scroller");
    if (b>d) {
      c.css({position:"fixed",top:"0px"})
    } else {
      if (b<=d) {
        c.css({position:"relative",top:""})
      }
    }
  };
  $(window).scroll(a);a()
}

</script>

{% endblock %}

{% block title %}Frisör i {{ city }}{% endblock %}

  {% block content %}


<div class="row">


	<div class="span12 search-city-title">
		 <h2>Frisörer i {{ city }}</h2><br />
		
	</div>
	
 	 <div class="span8" id="profile-list">
      	<ul class="profile-list profile-list-margin-zero">
      	 
      	  {% for profile in profiles %}
      	  <li class="profile-list-item-city">
      	 
      	  	<div class="span profile-list-picture">
        	    <a href="/{{ profile.profile_url }}" >
         	       <img src="{{ profile.profile_image }}" height="100" width="100"  />
         	    </a>
      	  	</div>

      	  

         	    <a href="/{{ profile.profile_url }}">
         	     <h3 class="city-search-profilename" style="display:inline-block">{{ profile.first_name }} {{ profile.last_name }}</h3>
         	    </a>
         	    <h3 class="profile-list-item-city-salon-name">{{ profile.salon_name }}</h3>
         	    <p class="profile-list-item-city-salon-adress"> {{ profile.salon_adress }}, {{ profile.salon_city }}</p>
         	     
         	    
           </li>
           {% endfor %}
           </ul>
           </div>
           
           
           <div class="span4 city-search-information-span" style="">
	           
		           
		           <div id="sidebar" style="width:270px;"> 
			           <div id="scroller-anchor"></div> 
			           <div id="scroller" style="margin-top:10px; width:270px"> 
			           		<div style="background-color:green;width:296px;height:250px;margin:10px;">
		           
			           			<h3 style=""> Denna ruta ska visa kartan </h3>
			           		</div>
			           		
			           			<div style="background-color:blue;width:296px;height:250px;margin:10px;">
		           
			           			<h3 style=""> Denna ruta ska visa SEO </h3>
			           		</div>
			           		
			           </div>
			           <script type="text/javascript"> 
				           $(function() {
					           moveScroller();
					           });
					   </script> 
		           </div>
	           
	           
	           	           
           </div>
           
           
           
 </div>


    <div id="fb-root"></div>


  {% endblock %}


