{# load google_analytics #}
{% load bootstrap %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <script type="text/javascript" src="{{ JQUERY_SCRIPT }}"></script>

    {% bootstrap_js all %}
    {% bootstrap_less %}
    {# Used to load js that's specific to a page #}
    {% block html-head %}{% endblock %}
  
    
    <title>{% block title %}StyleMatch - Framtidens marknadsföringsverktyg{% endblock %}</title>
  </head>
  <body class="body-padding-zero body-beta-background">
    
	<div class="container">
	<div class="beta-header">
	</div>
	<div class="container">
      <section id="gridSystem">
	{% block content %} 
	<br><br>
	<div id="features-banner" class="shadow-beta well">
<!-- start -->

<div class="span7">
<h1> Modern marknadsföring för dig som utbildad frisör</h1>
		<br>
		<p>	
		Vi på StyleMatch tror på att förenkla vardagen för dig som hårt arbetande frisör och att lyfta fram din kreativa sida. Vi vill ge dig möjlighet att stärka ditt personliga varumärke då vi vet att det är relationen mellan dig och dina kunder som är avgörande.

<br><br>StyleMatch är en tjänst där du som frisör kan skapa en egen professionell profilsida med endast några  klick. Sidan kan sedan anpassas efter din egen personlighet i form av text, bilder och layout. Med ett kraftfullt sökverktyg kan kunder nu på ett nytt och roligt sätt hitta och boka just dig. Efter besöket kan dina kunder rekommendera dig till sina vänner via mail eller på sociala medier så som Facebook.

<br><br>Vad som gör StyleMatch unikt jämfört med andra tjänster på marknaden är att vi lyfter fram dig och din personlighet istället för den salong du jobbar på. StyleMatch är ett enkelt och modernt verktyg som låter dig få ta del av de otroliga möjligheterna som finns på internet.	

<br><br><br>

</div>
	
	
	
	<div class="span4 pull-right">
	<h2>Varför StyleMatch?</h2>
	<br><br>
	<dt>Exklusivt nätverk för dig som utbildad frisör</dt>
    <dd>StyleMatch erbjuds endast till utbildade frisörer vilket gör att du som medlem får en tydlig markering på  marknaden att du är kvalificerad.
    </dd>
	</dl>
	<br>
	<dt>Starkare relation med dina stamkunder</dt>
    <dd>Med din personliga profilsida kan du fortsätta att hålla kundrelationen vid liv även utanför salongens väggar. 
    </dd>
	</dl>
	<br>
	<dt>Syns du inte så finns du inte</dt>
    <dd>Låt dina kunder sköta marknadsföringen åt dig via Facebook och andra sociala medier. Ta väl hand om dina kunder, de kommer att ta väl hand om dig.</dd>
	</dl>
	<br>
	<dt>Få fler återkommande kunder</dt>
    <dd>Med StyleMatch så får du nya kunder som passar just din personlighet. Vi matchar dig med kunder som du vill ska komma tillbaka. </dd>
	<br>
	<dt>Visa upp din dagliga konst</dt>
    <dd>Vi låter dig ladda upp bilder på dig själv och dina verk så du kan visa världen vem du är och vad du är bäst på.</dl>
	</div>
	

<div class="span7" id="referens">
	<blockquote>
  <p>"Grymt att ni avgränsar er till enbart utbildade frisörer, då blir det tydligare vilka aktörer som är seriösa."</p>
  <small>Roger Olofsson, ägare Hairstudio Unique</small>
</blockquote></div>
<br>
<div class="span7 pull-right" id="referens2">
<blockquote class="pull-right">
  <p>"Jag har velat synas på Facebook länge men har inte vetat hur jag ska göra det på ett professionellt sätt."</p>
  <small>Malin Avetun, Frisör Hårvårdsbaren Norrköping</small>
</blockquote>
</div>
<div class="span7" id="referens">
	<blockquote>
  <p>"Nu när jag flyttat till Linköping måste jag hitta en ny frisör, och jag vet inte vart jag ska börja leta."
	</p>
  <small>Per Niblaeus, Student Linköping</small>
</blockquote></div>
	
<br><br>

	<div class="span12">&nbsp;
	<br><br>

<center><h2><i> StyleMatch är framtidens sätt att marknadsföra sig som frisör.</i></h2>
  <p> StyleMatch lanseras snart inom Sverige. Ansök om en inbjudan redan idag. </p>
  <br>
  <a class="btn btn-large btn-info" href="/">Ansök om inbjudan</a> 
	</center>
	</div>
	
	</div>


<!-- stop --!>
	
</div>
	
	{% endblock %}
      </section>
	{% block footer %} {% endblock %}
    </div>
  {# analytics #}
  </body>
</html>
