{% extends "base.html" %}
{% load url from future %}

{% block title %}Marknadsföring för frisörer{% endblock %}

{% block remove-links-top %}


 <div class="container frisor-smaller-menu">       
      <div class="row">
          	<div class="span4">
            	<a href="{% url 'index_page' as index %}{{ index }}">
            		<img src="{{STATIC_URL}}img/logo.png"/>
            	</a>
            </div>
  

            <div class="span7 main-menu">
            </div>
      </div>
</div>


{% endblock %}

{% block content %}
<script>
  _kmq.push(['record', 'Viewed Frisor Page']);
</script>
<div class="frisor-page">
<div class="row">
	<div class="span12 frisor-page-header"><h1>Här skapar du din egen profil på 3 minuter!</h1></div>
</div>
<div class="row">
	<div class="span6 frisor-page-list" >
		<ul style="margin-left:0px;">
			<li style="margin-top:0px;"><img src="{{ STATIC_URL }}img/checkbox.png"/><span>Få hjälp att bygga upp en stabil kundkrets</span></li>
			<li><img src="{{ STATIC_URL }}img/checkbox.png"/><span>Få nya kunder du trivs med</span></li>
			<li><img src="{{ STATIC_URL }}img/checkbox.png"/><span>Visa upp vem du är som frisör</span></li>
			<li><img src="{{ STATIC_URL }}img/checkbox.png"/><span>Ingen bindningstid</span></li>
			
		</ul>
		
		
		
	</div>
	<!--
Create an empty div where the video will live.
Note the video ID is added at the end to prevent conflicts
  and allow multiple videos being tracked.
-->
<div id="player_uU6U-8LP1DY"></div>
 
<!-- Include the YouTube JS API -->
<script type='text/javascript'
  src='http://www.youtube.com/player_api'></script>
<script>
  var players = [];
   
  /** 
   * Helper function for loading KM trackable videos.
   * 
   * id     - The YouTube video ID
   * width  - The player width
   * height - The player height
   * name   - The name of the video. This can be anything and
       will be appended to the event logged in KM.
   */
  function loadKMTrackedVideo (id, width, height, name)
  {
    players[id] = new YT.Player('player_' + id, {
      videoId: id,
      width: width,
      height: height,
      framborder:0,
      events: { onStateChange: function (event)
      {
        switch(event.data)
        {
          case YT.PlayerState.PLAYING:
            return _kmq.push(
              ['record', 'Played video - ' + name]);
          case YT.PlayerState.PAUSED:
            return _kmq.push(
              ['record', 'Paused video - ' + name]);
          case YT.PlayerState.ENDED:
            return _kmq.push(
              ['record', 'Finished video - ' + name]);
        }
      }}
    });
  }
   
  /**
   * When the Youtube API is ready start loading in our
     KM trackable videos
   */
  function onYouTubePlayerAPIReady ()
  {
    loadKMTrackedVideo('DvLuZVCj-6g', 560, 405, 'Frisor page - video');
  }
 
</script>
	<div class="span6 frisor-page-video-div" >
	  <div class="frisor-page-video" id="player_DvLuZVCj-6g"></div>
	</div>
</div>
<div class="row">
  <div class="span12 frisor-page-try-stylematch">
    <h2>StyleMatch är helt gratis, helt utan några dolda avgifter.</h2>
    <a href="/accounts/register/" class="btn btn-large btn-info">Skapa en profil</a>        
    </div>
</div>


  {% endblock %}

  {% block second-background-another-color %}
  <div style="background-color:white">
    <div class="container frisor-page-second-page">
      <div class="row" style="margin-top:50px;">
      	<h3>Vad kan jag göra med StyleMatch?</h3>
      	<div class="span12 citat1">
	      	<div class="span3">
	      		<img src="{{ STATIC_URL }}img/Linnprofil.png"/>
	      	</div>
		    <div class="span6">
		    	<h4>Få hjälp att bygga upp en stabil kundkrets</h4>
		      	<p>Linn är nyutbildad frisör och lärling. Hon vet att det är viktigt med en stabil kundkrets. StyleMatch hjälper henne att nå ut och synas där nya kunder letar.</p>
	      </div>
	   </div>      	
	<div class="span12 citat2">
		<div class="span3 pull-right">
	      		<img src="{{ STATIC_URL }}img/Carroprofil.png"/>
	      	</div>
		    <div class="span6 pull-right">
		    	<h4>Få nya kunder du trivs med</h4>
		      	<p>Carro använder StyleMatch för att få fler kunder som passar hennes stil. Hon vill ha rätt kunder. Rätt kunder kommer hon bra överens med och det är större chans att de blir återkommande.</p>
	      </div>
	</div>
	    
	    
	    <div class="span12 citat3">
	      	<div class="span3">
	      		<img src="{{ STATIC_URL }}img/Malinprofil.png"/>
	      	</div>
		    <div class="span6">
		    	<h4>Lägg upp bilder och visa vem du är som frisör</h4>
		      	<p>Malin använder StyleMatch för att lägga upp bilder på frisyrer hon har klippt. Hon vet att hennes kunder vill se hennes bilder samlade på ett ställe.</p>
	      </div>
	   </div>    
      </div>
      
      
      

      
      
           
<div class="row">
  <hr class="soften" style="margin:25px 0px;">
  <div class="span12 frisor-page-final-arguments">

    <h3>StyleMatch hjälper dig med din marknadsföring online</h3>
        <a href="/accounts/register/" class="btn btn-large btn-info">Gå med!</a>
        <a href="/om-stylematch/frisör/" class="read-more">Eller läs mer</a>
  </div>
</div>

<div class="row">
  <hr class="soften" style="margin:25px 0px;">
  <div class="span12 frisor-page-seen-in">

  <h4>StyleMatch i Media</h4>

<div class="first-row">  <!--   CORREN		 -->
        <a target="_blank"  href="{{ STATIC_URL }}img/in_media/Corren-stor.png"><img src="{{ STATIC_URL }}img/frisor_page_logos/correnfull_opacity.png"
onmouseover="this.src='{{ STATIC_URL }}img/frisor_page_logos/correnfull.png'"
onmouseout="this.src='{{ STATIC_URL }}img/frisor_page_logos/correnfull_opacity.png'" border="0"/></a>
  <!--   END CORREN		 -->
  <!--   WEBBKOMET		 -->
	<a target="_blank"  href="http://webbkomet.se/project/index/id/1040"><img src="{{ STATIC_URL }}img/frisor_page_logos/webbkommetfull_opacity.png"
onmouseover="this.src='{{ STATIC_URL }}img/frisor_page_logos/webbkommetfull.png'"
onmouseout="this.src='{{ STATIC_URL }}img/frisor_page_logos/webbkommetfull_opacity.png'" border="0"/></a>
  <!--  END WEBBKOMET		 -->  
  <!--   AFFÄRSLIV		 -->
	<a target="_blank"  href="http://www.affarsliv.com/?articleid=6101574&date=&menuids="><img src="{{ STATIC_URL }}img/frisor_page_logos/affarslivfull_opacity.png"
onmouseover="this.src='{{ STATIC_URL }}img/frisor_page_logos/affarslivfull.png'"
onmouseout="this.src='{{ STATIC_URL }}img/frisor_page_logos/affarslivfull_opacity.png'" border="0"/></a>
  <!--  END AFFÄRSLIVS</div>		 -->
</div><div class="second-row"><!--   NT		 -->
	<a target="_blank"  href="{{ STATIC_URL }}img/in_media/nt-tidning.jpg"><img src="{{ STATIC_URL }}img/frisor_page_logos/ntfull_opacity.png"
onmouseover="this.src='{{ STATIC_URL }}img/frisor_page_logos/ntfull.png'"
onmouseout="this.src='{{ STATIC_URL }}img/frisor_page_logos/ntfull_opacity.png'" border="0"/></a>
  <!--  END NT		 -->
  <!--   LINKÖPINGS TIDNING		 -->
	<a target="_blank"  href="http://www.linkopingstidning.se/article/articleview/48270/1/73/"><img src="{{ STATIC_URL }}img/frisor_page_logos/linkopingstidningenfull_opacity.png"
onmouseover="this.src='{{ STATIC_URL }}img/frisor_page_logos/linkopingstidningenfull.png'"
onmouseout="this.src='{{ STATIC_URL }}img/frisor_page_logos/linkopingstidningenfull_opacity.png'" border="0"/></a>
  <!--  END LINKÖPINGS TIDNING		 --> </div>
  
  
  
  </div>
</div>

</div>
</div>

{% endblock %}
