{% extends "base.html" %}
{% load url from future %}

{% block title %}Marknadsföring för frisörer{% endblock %}

{% block remove-links-top %}
{% include "no_links_on_top_snippet.html" %}
{% endblock %}

{% block content %}
<div class="frisor-page">
<div class="row">
	<div class="span12 frisor-page-header"><h1>Framtidens marknadsföringsverktyg för dig som utbildad frisör</h1></div>
</div>
<div class="row">
	<div class="span5 frisor-page-list" >
		<ul style="margin-left:0px;">
			<li style="margin-top:0px;"><img src="{{ STATIC_URL }}img/glyphicons/png/glyphicons_003_user.png"/> <span>Skapa din egna StyleMatch-profil (stylematch.se/dittnamn)</span></li>
			<li><img src="{{ STATIC_URL }}img/glyphicons/png/glyphicons_027_search.png"/> <span>Bli sökbar i StyleMatch exklusiva sökmotor</span></li>
			<li><img src="{{ STATIC_URL }}img/glyphicons/png/glyphicons_037_credit.png"/> <span>Slipp dyr marknadsföring som inte ger resultat</span></li>
			<li><img src="{{ STATIC_URL }}img/glyphicons/png/glyphicons_012_heart.png"/> <span>Stärk relationen med dina befintliga kunder</span></li>
			<li><img src="{{ STATIC_URL }}img/glyphicons/png/glyphicons_390_facebook.png"/> <span>Sprid din hemsida via Facebook och få nya kunder</span></li>
			<li style="border-bottom:0px solid black"><img src="{{ STATIC_URL }}img/glyphicons/png/glyphicons_049_star.png"/> <span>Lägg upp bilder och visa dina kunder hur duktig du är</span></li>
			
		</ul>
		
		
	</div>
	<div class="span6 offset1" >
		<div class="frisor-page-video">
      <iframe width="540" height="405" src="http://www.youtube.com/embed/DvLuZVCj-6g?rel=0" frameborder="0" allowfullscreen></iframe>
    </div>
	</div>
</div>
<div class="row">
  <div class="span12 frisor-page-try-stylematch">
    <h2>Prova hela StyleMatch gratis i 30 dagar. Det bjuder vi på!</h2>
    <h4>Efter 30 dagar kostar det endast 299kr/månad. Ingen bindningstid, är du inte nöjd avslutar du ditt konto med ett klick!</h4>
    <a href="/accounts/register/" class="btn btn-large btn-info">Skapa din profil</a>
  </div>
</div>


  {% endblock %}

  {% block second-background-another-color %}
  <div style="background-color:white">
    <div class="container">
      <div class="row" style="margin-top:50px;">
        <div class="span5 frisor-page-undefinied-picture" style="height:200px;">

          <img src="{{ STATIC_URL }}img/stylematch-instagram.jpg">
        </div>
        <div class="span7" frisor-page-longer-text>
          <p>Vi på StyleMatch tror på att förenkla vardagen för dig som hårt arbetande frisör och att lyfta fram din kreativa sida. Vi vill ge dig möjlighet att stärka ditt personliga varumärke då vi vet att det är relationen mellan dig och dina kunder som är avgörande. </p>
          <p>StyleMatch är en tjänst där du som frisör kan skapa en egen professionell profilsida med endast några klick. Sidan kan sedan anpassas efter din egen personlighet i form av text, bilder och layout. Med ett kraftfullt sökverktyg kan kunder nu på ett nytt och roligt sätt hitta och boka just dig. Efter besöket kan dina kunder rekommendera dig till sina vänner via mail eller på sociala medier så som Facebook.
          </p>
          <p>Vad som gör StyleMatch unikt jämfört med andra tjänster på marknaden är att vi lyfter fram dig och din personlighet istället för den salong du jobbar på. StyleMatch är ett enkelt och modernt verktyg som låter dig få ta del av de otroliga möjligheterna som finns på internet.</p>
        </div>
      </div>
      <div class="row" >
        <hr class="soften" style="margin:25px 0px;">
        <div class="span5">
          <h2 style="margin:0px 0px 10px 0px;">Varför StyleMatch?</h2>
          <dt>Exklusivt nätverk för dig som utbildad frisör</dt>
          <dd>StyleMatch erbjuds endast till utbildade frisörer vilket gör att du som medlem får en tydlig markering på  marknaden att du är kvalificerad.
          </dd>
</dl>
<br>
<dt>Starkare relation med dina stamkunder</dt>
<dd>Med din personliga profilsida kan du fortsätta att hålla kundrelationen vid liv även utanför salongens väggar.
</dd>
</dl>
<br>
<dt>Syns du inte så finns du inte</dt>
<dd>Låt dina kunder sköta marknadsföringen åt dig via Facebook och andra sociala medier. Ta väl hand om dina kunder, de kommer att ta väl hand om dig.</dd>
</dl>
<br>
<dt>Få fler återkommande kunder</dt>
<dd>Med StyleMatch så får du nya kunder som passar just din personlighet. Vi matchar dig med kunder som du vill ska komma tillbaka. </dd>
<br>
<dt>Visa upp din dagliga konst</dt>
<dd>Vi låter dig ladda upp bilder på dig själv och dina verk så du kan visa världen vem du är och vad du är bäst på.</dl>
</div>

<div class="span7">
  <div class="span7" id="referens" style="padding-top:80px;">
    <blockquote>
      <p>"Grymt att ni avgränsar er till enbart utbildade frisörer, då blir det tydligare vilka aktörer som är seriösa."</p>
      <small>Roger Olofsson, ägare Hairstudio Unique</small>
  </blockquote></div>
  <br>
  <div class="span7 pull-right" id="referens2">
    <blockquote class="pull-right">
      <p>"Jag har velat synas på Facebook länge men har inte vetat hur jag ska göra det på ett professionellt sätt."</p>
      <small>Malin Avetun, Frisör Hårvårdsbaren Norrköping</small>
    </blockquote>
  </div>
  <div class="span7" id="referens">
    <blockquote>
      <p>"Nu när jag flyttat till Linköping måste jag hitta en ny frisör, och jag vet inte vart jag ska börja leta."
      </p>
      <small>Per Niblaeus, Student Linköping</small>
</blockquote></div></div>
</div>

<div class="row">
  <hr class="soften" style="margin:25px 0px;">
  <div class="span12 frisor-page-final-arguments">

    <h3>StyleMatch är framtidens sätt att marknadsföra sig som frisör.</h3>
    <h4>Sätt igång idag, skapa din profil och prova gratis i 30 dagar!</h4>
    <a href="/accounts/register/" class="btn btn-large btn-info">Skapa din profil</a>
  </div>
</div>

</div>
</div>

{% endblock %}
