{% extends "base.html" %}
{% load url from future %}

{% block title %}I media{% endblock %}

{% block content %}

<div class="in-media row">
	<div class="span11 offset1">
		<h1>
			StyleMatch i Media
		</h1>
		<h2>
			Detta är ett urval av nyhetsartiklar och bloggposter som StyleMatch har synts i.
		</h2>
			
	</div>
	
	<div class="row">
		<div class="span9 offset1">
			<ul>
			<!-- 	Lägg nyaste artiklarna överst	 -->
			
				<!-- 		Elaine Bergqvist		 -->
				<li>
					<a target="_blank" href="http://elaineeksvard.se/blog/2012/07/30/till-mina-fellow-frisorer-darute/">
						<div class="list-item">
							<div class="picture">
								<img src="{{ STATIC_URL }}img/in_media/Elaine.png"/>
							</div>
							<div class="article">
								<h3>"Till mina fellow frisörer därute..."</h3>
								<p class="author">Retorikexpert Elaine Eksvärd - 2012-07-30</p>
								<p class="article-content">
...och bloggvänner som vill vara säkra på att ni får en bra frisör när ni är i en ny stad och/eller tvingas byta. Sprid gärna för att hjälpa frisörer att få en självklar community och vänner att hitta en självklar frisör – inget av dem är särskilt lätt i dagsläget.</p>
							</div>
						</div>
					</a>
				</li>	
				<!-- 	END	Elaine Bergqvist		 -->
			
					<!-- 		Affärsliv		 -->
				<li>
					<a target="_blank" href="http://www.affarsliv.com/?articleid=6101574&date=&menuids=">
						<div class="list-item">
							<div class="picture">
								<img src="{{ STATIC_URL }}img/in_media/affärsliv.png"/>
							</div>
							<div class="article">
								<h3>"De ger dig ett klipp på nätet"</h3>
								<p class="author">Affärsliv - 2012-07-26</p>
								<p class="article-content">
En webbsida som hjälper dig att hitta rätt frisör. Det är idén bakom en ny tjänst som fyra universitetsstudenter i Linköping har startat.
– Jag tror att det kommer att bli stort, säger frisören Linn Lundkvist.</p>
							</div>
						</div>
					</a>
				</li>	
				<!-- 	END	affärsliv		 -->

			
					<!-- 		NT		 -->
				<li>
					<a target="_blank" href="{{ STATIC_URL }}img/in_media/NT - Klippsk Idé på internet.jpg">
						<div class="list-item">
							<div class="picture">
								<img src="{{ STATIC_URL }}img/in_media/NT---Klippsk-Idé-på-internet.png"/>
							</div>
							<div class="article">
								<h3>"Klippsk idé på internet"</h3>
								<p class="author">Norrköpings Tidningar - 2012-07-26</p>
								<p class="article-content">
En webbsida som hjälper dig att hitta rätt frisör. Det är idén bakom en ny tjänst som fyra universitetsstudenter i Linköping har startat.
– Jag tror att det kommer att bli stort, säger frisören Linn Lundkvist.</p>
							</div>
						</div>
					</a>
				</li>	
				<!-- 	END	NT		 -->
				
				<!-- 		Corren		 -->
				<li>
					<a target="_blank" href="{{ STATIC_URL }}img/in_media/Corren-stor.png">
						<div class="list-item">
							<div class="picture">
								<img src="{{ STATIC_URL }}img/in_media/Corren.png"/>
							</div>
							<div class="article">
								<h3>"De ger dig ett klipp på nätet"</h3>
								<p class="author">Corren - 2012-07-26</p>
								<p class="article-content">
En webbsida som hjälper dig att hitta rätt frisör. Det är idén bakom en ny tjänst som fyra universitetsstudenter i Linköping har startat.<br>
– Jag tror att det kommer att bli stort, säger frisören Linn Lundkvist.</p>
							</div>
						</div>
					</a>
				</li>	
				<!-- 	END	Corren		 -->

				<!-- 		Linköpings Tidningar 		 -->
				<li>
					<a target="_blank" href="http://www.linkopingstidning.se/article/articleview/48270/1/73/">
						<div class="list-item">
							<div class="picture">
								<img src="{{ STATIC_URL }}img/in_media/Linköping-Tidningar.png"/>
							</div>
							<div class="article">
								<h3>"Unga företagare röjer i frisördjungeln"</h3>
								<p class="author">Linköpings Tidningar - 2012-07-06</p>
								<p class="article-content">
Att hitta rätt frisör kan ibland vara en djungel. Någonstans dock, bland sprayburkar, saxar och färgtuber, finns de personliga guldkornen som förvandlar ens hår från ris till ros. Frisörvalet är högst individuellt. ...					</p>
							</div>
						</div>
					</a>
				</li>	
				<!-- 	END	Linköpings Tidningar		 -->
				
				<!-- 		Osccar Svalland		 -->
				<li>
					<a target="_blank" href="http://osccarsvalland.spotlife.se/2012/06/01/stylematch/">
						<div class="list-item">
							<div class="picture">
								<img src="{{ STATIC_URL }}img/in_media/Oscar-1-juni.png"/>
							</div>
							<div class="article">
								<h3>"STYLEMATCH"</h3>
								<p class="author">Oscar Svalland - 2012-06-01</p>
								<p class="article-content">
Du själv använder alltså StyleMatch för att på ett enkelt sätt hitta en frisör som passar dig och din stil. Förutom att hitta rätt frisör kan du även klicka dig runt bland inspirerande bilder som hjälper dig att välja rätt frisyr.</p>
							</div>
						</div>
					</a>
				</li>	
				<!-- 	END	Osccar Svalland		 -->
				
				<!-- 		Civilekonom 		 -->
				<li>
					<a target="_blank" href="{{ STATIC_URL }}img/in_media/elin-drommen-2012.jpg">
						<div class="list-item">
							<div class="picture">
								<img src="{{ STATIC_URL }}img/in_media/elin-2012.png"/>
							</div>
							<div class="article">
								<h3>"Välkommen till de produktiva lekstugornas vantastiska värld"</h3>
								<p class="author">Drömmen - 2012-05-29</p>
								<p class="article-content">
Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 					</p>
							</div>
						</div>
					</a>
				</li>	
				<!-- 	END	civilekonom		 -->
				
				<!-- 		Osccar Svalland 		 -->
				<li>
					<a target="_blank" href="http://osccarsvalland.spotlife.se/2012/05/21/stylematch-hitta-din-frisor/">
						<div class="list-item">
							<div class="picture">
								<img src="{{ STATIC_URL }}img/in_media/Oscar-21-maj.png"/>
							</div>
							<div class="article">
								<h3>"StyleMatch – Hitta din frisör"</h3>
								<p class="author">Oscar Svalland - 2012-05-21</p>
								<p class="article-content">
Kikade runt lite på facebook tills jag hitta en sjukt bra sida. Många människor(förr jag) hade panik vilken frisör man skulle gå till. Man var rädd för att man inte skulle förstå varandra, att frisören skulle göra något helt annat än vad man har tänk och berättat. StyleMatch är en hemsida som hjälper dig söka i djungeln av duktiga frisörer för att hitta en frisör som passar dig och din stil. 								</p>
							</div>
						</div>
					</a>
				</li>	
				<!-- 	END	Osccar Svalland		 -->
				
				<!-- 		ipikure 		 -->
				<li>
					<a target="_blank" href="{{ STATIC_URL }}img/in_media/ipikuri-2012.jpg">
						<div class="list-item">
							<div class="picture">
								<img src="{{ STATIC_URL }}img/in_media/ipikuri-2012.png"/>
							</div>
							<div class="article">
								<h3>"StyleMatch jämförs med OnlinePizza"</h3>
								<p class="author">Ipikuré - 2012-05-11</p>
								<p class="article-content">
Ryktet om ett nytt webb-baserat studentföretag har också nått redaktionens öron, Stylematch.se. StyleMatch är en hemsida som hjälper dig att söka i djungeln av diktiga frisörer för att sen hitta en frisör som passar dig och din stil.								</p>
							</div>
						</div>
					</a>
				</li>	
				<!-- 	END	ipkure		 -->
				
				<!-- 		Hanna Rohndahl 		 -->
				<li>
					<a target="_blank" href="http://honhannah.blogg.se/2012/may/stylematch.html">
						<div class="list-item">
							<div class="picture">
								<img src="{{ STATIC_URL }}img/in_media/hanna-maj-2012.png"/>
							</div>
							<div class="article">
								<h3>"StyleMatch"</h3>
								<p class="author">Hanna Rondahl - 2012-05-08</p>
								<p class="article-content">
									Igår mötte jag upp Martin och Hampus inne i stan där de förklarade lite mer ingående vad det är för tjänst de håller på att ta fram. Jag blev väldigt positiv överraskad, det är verkligen en jättebra idé som jag absolut skulle använda mig av! ...
								</p>
							</div>
						</div>
					</a>
				</li>	
				<!-- 	END	Hanna Rohndahl 		 -->
						
			</ul>
	</div>

</div>	
	
	
	
	
</div>

{% endblock %}
