{% extends "base.html" %}
{% load url from future %}

{% block title %}Välkommen{% endblock %}
{% block background-top %}
<div class="bigpage" style="background-size:auto;">
  {% endblock %}



  {% block content %}

  <div class="row searchfield shadow-around-a-div absolut-position-searchfield">

    <div class="search-form-title">
      <h1 id="searchfield-text">Hitta en kvalificerad fris&ouml;r i ditt n&auml;romr&aring;de och boka nu</h1>

    </div>
    <div  class="search-form">


      <div class="span5 align-center-search-form offset5">
        <form class="form-search search-form ">
          <input type="text" style="height:25pt;font-size:15px;" class="input-medium span4" placeholder=" Linköping">

          <a href="#" style="margin-left:10px"class="btn btn-primary btn-large popover1" rel="tooltip" data-content="" data-original-title="Kommer snart">Hitta!</a>
        </form>
      </div>
    </div>

  </div>

  <div class="row profile-images-front-page-div" style="margin-top:120px" >
    <div class="span12">
      <div class="span3 offset1 profile-image">
        <div class="profile-image-border pictures-front-page">
          <a href="/malinavetun/"><img src="{{STATIC_URL}}img/frisor1-frontpage.jpg" name="profile-image"></a>
        </div>
      </div>
      <div class="span3 profile-image">
        <div class="profile-image-border pictures-front-page">
         <a href="/carolinebergholm/"> <img src="{{STATIC_URL}}img/frisor2-frontpage.jpg" name="profile-image"></a>
        </div>
      </div>
      <div class="span3 profile-image">
        <div class="profile-image-border pictures-front-page">
          <a href="/winnie/"><img src="{{STATIC_URL}}img/frisor3-frontpage.jpg" name="profile-image"></a>
        </div>
      </div>
      <!--
         Facebook block
         <div class="span3">
           <div class="fb-like-box" data-href="http://www.facebook.com/stylematch.se" data-width="240" data-show-faces="true" data-border-color="white" data-stream="false" data-header="false"></div>
         </div>
         -->

    </div>
  </div>


  {% endblock %}

  {% block second-background %}

  {# To keep the larger header on the front-page #}
  <div class="content-background" style="margin-top:210px;">

    {% endblock %}

