{% extends "base.html" %}
{% load url from future %}
{% load index_extras %}

{% block title %}Hitta frisör{% endblock %}

{% block pre-bootstrap-less %}
<link rel="stylesheet" href="{{ STATIC_URL }}js/chosen/chosen/chosen.css">
{% endblock %}

{% block html-head %}

<meta name="keywords" content="frisör,hitta frisör,boka frisör,hårmode,frisyr,styling"/>
<meta name="description" content="Hitta en frisör som passar just dig. Låt dig inspireras av frisyrer och uppsättningar frisörer gjort."/>
<!--Lägg till sen "Vi har frisörer i Sveriges alla städer.-->

<script>
    FEATURED_PROFILE_API_URL = "{% url 'api_dispatch_list' api_name="profile" resource_name="featured_profiles" %}";
</script>

<script src="{{ STATIC_URL }}js/underscore-min.js"></script>
<script src="{{ STATIC_URL }}js/backbone-min.js"></script>
<script src="{{ STATIC_URL }}js/backbone-tastypie.js"></script>

<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.18/jquery-ui.min.js"></script>

{% endblock %}

  {% block content %}
  
  <div class="row searchfield shadow-around-a-div absolut-position-searchfield">

    <div class="search-form-title">
      <h1 id="searchfield-text">Hitta en kvalificerad fris&ouml;r i ditt n&auml;romr&aring;de och boka nu</h1>

    </div>
    <div  class="search-form">


      <div class="span5 align-center-search-form offset5 pull-right">
        <form class="form-search search-form" id="find-stylist">
          <select id="city-select" data-placeholder="Välj stad..." class="chzn-select" style="width:250px;" tabindex="2">
            {% include "list_of_city_snippet.html" with popular=popular_cities other=other_cities %}
          </select>
          <a class="btn btn-primary btn-large" id="find-button" onclick="$('#find-stylist').submit()">Sök</a>
        </form>
      </div>
    </div>

  </div>


  <!-- Underscore.js Templates -->
  <script type="text/template" id="tpl-featured-profile-list-item">
      <a href="/<%= profile_url %>/">

      <div class="span3 profile-image-front" style="margin-left:0px">
        <div class="profile-image-border-front pictures-front-page">
            <div style="height:230px">
                <img src="<%= profile_image %>" name="profile-image">
            </div>
            <h3><%= first_name %> <%= last_name %></h3>
            <h5><%= salon_name %>, <%= salon_city %></h5>
        </div>
      </div>
      </a>
  </script>

 <div class="row" style="margin-top:100px"></div>

  <div id="test" class="row profile-images-front-page-div" style="padding:0px;" >
    <div class="span9"> <div id="stylists-in" class="span4" style="margin-left:0px;margin-right:-10px;">
      <span>Frisörer i </span>
        <select id="city" style="margin-left: 10px;">
            <option value="linköping">Linköping</option>
            <option value="norrköping">Norrköping</option>
            <option value="stockholm">Stockholm</option>
        </select>
    </div>
      
      <div class="span5"><hr style="width:100%;"></div>
      <div id="featured-profile-list"><br /></div>
    </div>
    <div class="span3 join-now-block-frontpage">
        <h2>Är du frisör?</h2>
        <a href="{% url 'registration_register' %}" class="btn btn-large btn-info">Skapa din profil</a>
    </div>
    <div class="pull-right fb-like-box fb-like-box-edited" data-href="http://www.facebook.com/StyleMatch.SE" data-width="232" data-height="280" data-show-faces="true" data-stream="false" data-header="true"></div>
 
 <div class="span9 first-page-second-join-now"> <h3>Är du frisör och vill synas på StyleMatch?</h3><a href="/accounts/register/" class="btn btn-large btn-info">Skapa din profil</a></div>
  </div>


<div id="fb-root"></div>
<script src="{{ STATIC_URL }}js/chosen/chosen/chosen.jquery.js"></script>

<script type="text/javascript"> 
	$(".chzn-select").chosen(); 
	$(".chzn-select-deselect").chosen({allow_single_deselect:true}); 
	</script>

<script type="text/javascript">


      /* 
      SlideDown beta-header banner 
      This should be added on every page where we want it.
      */

      setTimeout(function() {

      $('.beta-header').slideDown();
      }, 3000);
     
      /* Facebook widget */

      (function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/sv_SE/all.js#xfbml=1";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));
    </script>

  <script type="text/javascript">
    $('#find-stylist').submit(function() {
      if ($('#city-select').val()) {
        window.location = '/' + $('#city-select').val().toLowerCase();
      }
      return false;
    });
    $('#city-select').change(function() {
      $('#find-stylist').submit();
    });
  </script>
  <!-- the code that does the magic on the page -->
  <script src="{{ STATIC_URL }}js/featured.js"></script>

  {% endblock %}

  {% block second-background %}

  {# To keep the larger header on the front-page #}
  <div class="content-background" style="margin-top:210px;">

  {% if messages %}

  {% for message in messages %}
    {% ifequal message.extra_tags "modal" %}
    <script type="text/javascript">
        var noty_id = noty({
            text: "{{ message }}",
            type: "{{ message }}",
            modal: true,
        });
    </script>
    {% else %}
    {% endifequal %}
    {% comment %}
<script src="{{ STATIC_URL }}js/bootstrap-modal.js" type="text/javascript"></script>
<script type="text/javascript">
  $('#myModal').modal({});
</script>
{% endcomment %}
  {% endfor %}

  {% endif %}
    {% endblock %}

