{% extends "base.html" %}
{% load url from future %}

{% block title %}Stylefinder{% endblock %}


{% block content %}
 
  <div class="row searchfield">

         <br><br>
 <h1 id="searchfield-text">Hitta en kvalificerad fris&ouml;r i ditt n&auml;romr&aring;de och boka nu</h1>
    <br><br><br>
    
    
    <form class="form-search">
    	<input type="text" style="height:20pt;font-size:15px;" class="input-medium search-query span4" placeholder="S&ouml;k efter namn (Valfritt)"><span class="help-inline" style="font-size:15px">N&Auml;RA:</span>
		<input type="text" style="height:20pt;font-size:15px;" class="input-medium search-query" placeholder="Link&ouml;ping">
  <button type="submit" style="margin-left:10px"class="btn btn-primary btn-large">Hitta!</button>
</form>


  </div>

    <div class="row show-grid">
      <div class="span8">
	<p>Test</p>
	{% for profile in profiles %}
	{{ profile.profile_name }}
	{% endfor %}
      </div>
    </div>
  
  <div class="row show-grid">
    <div class="span3">
      <p>
        Linköping (gissade via IP), Button: Not right City?
      </p>
    </div>
  </div>

  <div class="row show-grid">
    <div class="span10">
      <p>Bilder på frisörer</p>
    </div>
  </div>

  {% endblock %}
