{% for image in images %}

<li>
  <img class="hype" src="http://stylematch.s3-website-eu-west-1.amazonaws.com/test/hype.png"/>

<a href="{{ STATIC_URL }}user-imgs/{{ image }}" class="inspiration-images"><img class="inspiration-images" style="display:inline-block;" src="{{ STATIC_URL }}user-imgs/{{ image }}"/></a>
  <a href="http://pinterest.com/pin/create/button/" class="pin-it-button" count-layout="horizontal">
    <img border="0" src="http://stylematch.s3-website-eu-west-1.amazonaws.com/test/PinExt.png" title="Pin It" />
  </a>
  <div class="fb fb-like" data-href="http://stylematch.se" data-href="{{ STATIC_URL }}user-imgs/{{ image }}" data-send="true" data-width="450" data-show-faces="true"></div><br>
  <div class="fb fb-comments" data-href="{{ STATIC_URL }}user-imgs/{{ image }}" data-num-posts="3" data-width="470"></div>
  <br>
</li>


{% endfor %}

