{% extends "base.html" %}
{% load url from future %}
{% load index_extras %}

{% block title %}Hitta frisör{% endblock %}

{% block html-head %}
  <script type="text/javascript" src="//assets.pinterest.com/js/pinit.js"></script>
  <script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/sv_SE/all.js#xfbml=1&appId=309825002426259";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));</script>
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>

  <link rel="stylesheet" href="{{ STATIC_URL}}js/lightbox/example3/colorbox.css" />
  <script type="text/javascript" src="{{ STATIC_URL}}js/lightbox/colorbox/jquery.colorbox.js"></script>
{% endblock %}
{% block content %}
 <div class="row main-content">
   <div class="span8 offset2">
     <div style="margin: 0 auto; width:700px;">
       <ul class="inspiration-list">
	 {% include "inspiration_images_snippet.html" with images=pictures %}
       </ul>
     </div>
     <script>
       $('a.inspiration-images').colorbox({rel:'group2', transition:"none", width:"75%", height:"90%"});
     </script>
     
     <div id="fb-root"></div>
   </div>
 </div>
{% endblock %}
