<html>
<head>
<script type="text/javascript" src="//assets.pinterest.com/js/pinit.js"></script>
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/sv_SE/all.js#xfbml=1&appId=309825002426259";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>

</head>
<body>
  <style>
    body {
    }
    img {
    max-width:400px;
    margin:0px 5px 50px 0px;
    xfloat:left;
    }
    ul {
    list-style-type:none;
    }
    li {
    width:1100px
    background-color:grey;
    }
    .hype {
    display:inline-block;
    margin-right:30px;
    position:relative;
    top:-300px;
    }
    .fb {
    margin-left:128px;
    margin-top:-20px;
    }
    .fb-comments {
    margin-top:10px;
    padding-bottom:25px;
    border-bottom:1px solid black;
    }
   </style>
   
  <img style="margin-left:470px;margin-top:30px;width:250px;" src="http://stylematch.s3-website-eu-west-1.amazonaws.com/img/logo.png">


  <p><a class="group2" href="http://localhost:8000/static/user-imgs/88594189-a462-4669-97d0-81800577b41c.jpg" title="Me and my grandfather on the Ohoopee">Grouped Photo 1</a></p>
		<p><a class="group2" href="http://localhost:8000/static/user-imgs/88594189-a462-4669-97d0-81800577b41c.jpg" title="On the Ohoopee as a child">Grouped Photo 2</a></p>
		<p><a class="group2" href="http://localhost:8000/static/user-imgs/88594189-a462-4669-97d0-81800577b41c.jpg" title="On the Ohoopee as an adult">Grouped Photo 3</a></p>



  <div style="margin-left:300px;margin-top:-50px;width:700px;background-color:white">
    <ul>
      {% include "inspiration_images_snippet.html" with images=pictures %}
      
    </ul>
  </div>
<script type="text/javascript" src="{{ STATIC_URL }}js/lightbox/colorbox/jquery.colorbox.js">
<script>
			$(document).ready(function(){
				//Examples of how to assign the ColorBox event to elements
				$(".group1").colorbox({rel:'group1'});
				$(".group2").colorbox({rel:'group2', transition:"fade"});
				$(".inspiration-images").colorbox({rel:'group3', transition:"none", width:"75%", height:"75%"});
				$(".group4").colorbox({rel:'group4', slideshow:true});
				$(".ajax").colorbox();
				$(".youtube").colorbox({iframe:true, innerWidth:425, innerHeight:344});
				$(".iframe").colorbox({iframe:true, width:"80%", height:"80%"});
				$(".inline").colorbox({inline:true, width:"50%"});
				$(".callbacks").colorbox({
					onOpen:function(){ alert('onOpen: colorbox is about to open'); },
					onLoad:function(){ alert('onLoad: colorbox has started to load the targeted content'); },
					onComplete:function(){ alert('onComplete: colorbox has displayed the loaded content'); },
					onCleanup:function(){ alert('onCleanup: colorbox has begun the close process'); },
					onClosed:function(){ alert('onClosed: colorbox has completely closed'); }
				});

				//Example of preserving a JavaScript event for inline calls.
				$("#click").click(function(){ 
					$('#click').css({"background-color":"#f00", "color":"#fff", "cursor":"inherit"}).text("Open this window again and this message will still be here.");
					return false;
				});
			});
		</script>
</body>
</html>	
