{% load index_extras %}
{% load thumbnail %}
{% for image in images %}

{% with image.user|get_userprofile as userprofile %}

<li class="inspiration-item">
  <div class="mainImageContent">
    <div class="leftSidebar">
      <a href="{{ userprofile.profile_url }}">
        {% thumbnail userprofile|profile_image_thumbnail "80x80" crop="center" as im %}
        <img class="profile-image" src="{{ im.url }}"
             title="{{ image.user.first_name }} {{ image.user.last_name }}" />
        {% endthumbnail %}
      </a>
      <img class="hype" src="http://stylematch.s3-website-eu-west-1.amazonaws.com/test/hype.png"/>
    </div>

    <div class="image">
      <a href="{{ image.get_image_url }}" class="inspiration-images">
        <img class="inspiration-images" src="{{ image.get_image_url }}"
             title="{{ image.comment }}" />
      </a>
    </div>

    <div class="rightSidebar">
      <div class="fb fb-like"
                data-href="{{ image.get_image_url }}"
                data-send="false"
                data-layout="button_count"
                data-width="100"
                data-show-faces="true">
      </div>
      <a href="http://pinterest.com/pin/create/button/"
                class="pin-it-button"
                count-layout="horizontal">
        <img src="http://stylematch.s3-website-eu-west-1.amazonaws.com/test/PinExt.png"
                 title="Pin It" />
      </a>
    </div>

  </div>
  <div style="clear:both;" class="comment-div">
    <a class="comment" onclick="$('#fb-wrapper-{{ forloop.counter0 }}').slideToggle();">
      Se kommentarer
    </a>
  </div>
  <div id="fb-wrapper-{{ forloop.counter0 }}" class="fb" style="display:none;">
    <div class="fb-comments"
              data-href="{{ image.get_image_url }}"
              data-num-posts="3"
              data-width="470">
    </div>
  </div>
</li>

{% endwith %}
{% endfor %}
