<div class="modal hide fade no-underline-links invitemodal" id="invitemodal">
 
 <div class="modal-header">
    <button class="close" data-dismiss="modal">×</button>
    <h3>Ansök om inbjudningskod</h3>
  </div>
 
 <div class="invitemodal-content">
 
 <h3>Vi skickar ut inbjudningskoder löpande, så fyll i din emailadress för att ställa dig på väntelistan.</h3>
 
 <form action="" method="post">{% csrf_token %}
            <input style="height:25px;width:35%;margin: 0px 30px 0px 0px;" name="email" id="id_email" type="text" placeholder="E-postadress">
	      
              <button type="submit" class="btn-large btn-info">Ans&ouml;k om inbjudan</button>
	    {{ form.email.errors }}
          </form>
</div>

 <div class="modal-footer">
<button class=" btn " data-dismiss="modal" style="margin-right:40px;">Stäng</button>
</div>
 
 

</div>
