
<option value=""></option> 
 <optgroup label="Populära Städer">
   <option value="Stockholm">Stockholm</option> 
 	<option value="Göteborg">Göteborg</option>
          <option value="Malmö">Malmö</option>
         	<option value="Uppsala">Uppsala</option>
          <option value="Västerås">Västerås</option>
	 <option value="Linköping">Linköping</option>
	
          <option value="Örebro">Örebro</option>
	<option value="Norrköping">Norrköping</option>
</optgroup>
<optgroup label="Övriga städer">
<option value="Allingsås">Allingsås</option>
<option value="Annelöv">Annelöv</option>
<option value="Arbåga">Arbåga</option>
<option value="Arvika">Arvika</option>
<option value="Avesta">Avesta</option>
<option value="Bankeryd">Bankeryd</option>
<option value="Billesholm">Billesholm</option>
<option value="Bjuv">Bjuv</option>
<option value="Boden">Boden</option>
<option value="Bollnäs">Bollnäs</option>
<option value="Borlänge">Borlänge</option>
<option value="Borås">Borås</option>
<option value="Boxholm">Boxholm</option>
<option value="Bromölla">Bromölla</option>
<option value="Bunkeflostrand">Bunkeflostrand</option>
<option value="Degefors">Degefors</option>
<option value="Deje">Deje</option>
<option value="Eksjö">Eksjö</option>
<option value="Enköping">Enköping</option>
<option value="Eskilstuna">Eskilstuna</option>
<option value="Eslöv">Eslöv</option>
<option value="Fagersta">Fagersta</option>
<option value="Falkenberg">Falkenberg</option>
<option value="Falköping">Falköping</option>
<option value="Falun">Falun</option>
<option value="Filipstad">Filipstad</option>
<option value="Flen">Flen</option>
<option value="Gnesta">Gnesta</option>
<option value="Gnosjö">Gnosjö</option>
<option value="Grums">Grums</option>
<option value="Grästorp">Grästorp</option>
<option value="Gullbrandstorp">Gullbrandstorp</option>
<option value="Gävle">Gävle</option>
<option value="Hagfors">Hagfors</option>
<option value="Hallsberg">Hallsberg</option>
<option value="Hallstahammar">Hallstahammar</option>
<option value="Halmstad">Halmstad</option>
<option value="Hammarö">Hammarö</option>
<option value="Hedemora">Hedemora</option>
<option value="Helsingborg">Helsingborg</option>
<option value="Herrljunga">Herrljunga</option>
<option value="Hornadal">Hornadal</option>
<option value="Hudiksvall">Hudiksvall</option>
<option value="Huskvarna">Huskvarna</option>
<option value="Hällefors">Hällefors</option>
<option value="Härnösand">Härnösand</option>
<option value="Hässleholm">Hässleholm</option>
<option value="Höganäs">Höganäs</option>
<option value="Järna">Järna</option>
<option value="Jönköping">Jönköping</option>
<option value="Kalix">Kalix</option>
<option value="Kalmar">Kalmar</option>
<option value="Karlshamn">Karlshamn</option>
<option value="Karlskoga">Karlskoga</option>
<option value="Karlskrona">Karlskrona</option>
<option value="Karlstad">Karlstad</option>
<option value="Katrineholm">Katrineholm</option>
<option value="Kinna">Kinna</option>
<option value="Kiruna">Kiruna</option>
<option value="Klippan">Klippan</option>
<option value="Kristianstad">Kristianstad</option>
<option value="Kristinehamn">Kristinehamn</option>
<option value="Kumla">Kumla</option>
<option value="Kungsbacka">Kungsbacka</option>
<option value="Kungsör">Kungsör</option>
<option value="Kungälv">Kungälv</option>
<option value="Kvicksund">Kvicksund</option>
<option value="Kvissleby">Kvissleby</option>
<option value="Köping">Köping</option>
<option value="Lanskrona">Lanskrona</option>
<option value="Leksand">Leksand</option>
<option value="Lerberget">Lerberget</option>
<option value="Lidköping">Lidköping</option>
<option value="Lindesberg">Lindesberg</option>
<option value="Lindome">Lindome</option>
<option value="Ljungby">Ljungby</option>
<option value="Lomma">Lomma</option>
<option value="Ludvika">Ludvika</option>
<option value="Luleå">Luleå</option>
<option value="Lund">Lund</option>
<option value="Lysekil">Lysekil</option>
<option value="Löddeköpinge">Löddeköpinge</option>
<option value="Mjölby">Mjölby</option>
<option value="Mora">Mora</option>
<option value="Motala">Motala</option>
<option value="Mölndal">Mölndal</option>
<option value="Mölnlycke">Mölnlycke</option>
<option value="Mönsterås">Mönsterås</option>
<option value="Nol">Nol</option>
<option value="Norberg">Norberg</option>
<option value="Norrhammar">Norrhammar</option>
<option value="Norrtälje">Norrtälje</option>
<option value="Nyköping">Nyköping</option>
<option value="Nynäshamn">Nynäshamn</option>
<option value="Nässjö">Nässjö</option>
<option value="Olofstorp">Olofstorp</option>
<option value="Oviken">Oviken</option>
<option value="Oxelösund">Oxelösund</option>
<option value="Perstorp">Perstorp</option>
<option value="Piteå">Piteå</option>
<option value="Ronneby">Ronneby</option>
<option value="Sala">Sala</option>
<option value="Sandviken">Sandviken</option>
<option value="Sjuntorp">Sjuntorp</option>
<option value="Sjövik">Sjövik</option>
<option value="Skellefteå">Skellefteå</option>
<option value="Skå">Skå</option>
<option value="Skövde">Skövde</option>
<option value="Smålandsstenar">Smålandsstenar</option>
<option value="Sollefteå">Sollefteå</option>
<option value="Sollentuna">Sollentuna</option>
<option value="Staffanstorp">Staffanstorp</option>
<option value="Stenungsund">Stenungsund</option>
<option value="Storvik">Storvik</option>
<option value="Strängnäs">Strängnäs</option>
<option value="Sundsbruk">Sundsbruk</option>
<option value="Sundsvall">Sundsvall</option>
<option value="Sunne">Sunne</option>
<option value="Säffle">Säffle</option>
<option value="Sälen">Sälen</option>
<option value="Söderhamn">Söderhamn</option>
<option value="Södertälje">Södertälje</option>
<option value="Timrå">Timrå</option>
<option value="Tollered">Tollered</option>
<option value="Tomelilla">Tomelilla</option>
<option value="Torsby">Torsby</option>
<option value="Tranås">Tranås</option>
<option value="Trelleborg">Trelleborg</option>
<option value="Trollhättan">Trollhättan</option>
<option value="Trosa">Trosa</option>
<option value="Tyringe">Tyringe</option>
<option value="Uddesvalla">Uddesvalla</option>
<option value="Ulricehamn">Ulricehamn</option>
<option value="Umeå">Umeå</option>
<option value="Varberg">Varberg</option>
<option value="Vimmerby">Vimmerby</option>
<option value="Vingåker">Vingåker</option>
<option value="Visby">Visby</option>
<option value="Vännersborg">Vännersborg</option>
<option value="Västervik">Västervik</option>
<option value="Växjö">Växjö</option>
<option value="Ystad">Ystad</option>
<option value="Älvsbyn">Älvsbyn</option>
<option value="Ängelholm">Ängelholm</option>
<option value="Åhus">Åhus</option>
<option value="Åmål">Åmål</option>
<option value="Åre">Åre</option>
<option value="Åtvidaberg">Åtvidaberg</option>
<option value="Örkelljunga">Örkelljunga</option>
<option value="Örnsköldsvik">Örnsköldsvik</option>
<option value="Ösmo">Ösmo</option>
</optgroup>

