{% load url from future %} 
 
 <div class="container ">
        <div class="row">
        	<div class="span4 offset8 top-right-menu pull-right" style="height:18px">
        	</div>
        </div>
       
        <div class="row masthead">
          	<div class="span4">
            	<a href="{% url 'index_page' as index %}{{ index }}">
            		<img src="{{STATIC_URL}}img/logo.png"/>
            	</a>
            </div>
  

            <div class="span7 main-menu">
            </div>



        </div>
</div>
