{% extends "base.html" %}
{% load url from future %}

{% block title %}Bakgrundsinformation - Press{% endblock %}

{% block content %}
<div class="row press">
	<div class="span12">
	<h1>Press</h1>
	</div>
  <div class="span7 info">
      <h2>Fakta StyleMatch</h2>
      <p><span>Grundat:</span> 2012 av <a href="/martin/">Martin Andersson</a>, <a href="/hampus/">Hampus Bergqvist</a>, <a href="/jens/">Jens Ohring</a> och <a href="/marcus/">Marcus Padmo Jörgensen</a></p>
      <p><span>Plats:</span> Huvudkontor i Linköping</p>
      <p><span>Kunder:</span> Frisörer som vill ta kontroll över sin marknadsföring och få rätt kunder</p>
      <p><span>Användare:</span> Konsumenter som vill hitta en frisör som passar sin stil</p>
      <p><span>Mål:</span> Att matcha rätt kund med rätt frisör för att på så sätt skapa en bekväm upplevelse redan innan upplevelsen inträffar!</p>
      <p><span>Team:</span> Martin Andersson, Samuel Andersson, Hampus Bergqvist, Jens Ohring och Marcus Padmo Jörgensen</p>
      <p><span>Namnet:</span> Talar för sig själv.</p>
      <h3>Tjänsten</h3>
      <p>StyleMatch är en tjänst där man som frisör skapar en profil bestående av personlig text, egna bilder, smart kontaktinformation och enkel besökstatistik. Med profilen stärker frisören sitt personliga varumärke samtidigt som man tar kontroll över sin marknadasföring.</p>
      <p>StyleMatch har även en söklista där alla frisörers profiler hamnar. I denna söklista kan man som konsument gå in för att hitta en frisör som passar sin stil. Om man inte vet vilken frisyr som gäller är det inte heller så lätt att hitta en frisör. Då går man istället in på den inspirationsflik där alla frisörers bilder samlas för att på så sätt hitta en frisyr som lockar!</p>
      <p>“Vårt mål är att föra samman rätt frisör med rätt kund och vise versa”</p>

      <h3>Blogg och Sociala nätverk</h3>
      <p>Håll dig uppdaterad med de senaste nyheterna genom att följa vår “<a target="_blank" href="http://www.facebook.com/stylematch.se">Facebookgrupp</a>”, <a target="_blank" href="http://www.twitter.com/stylematch_SE">Twitter</a> och <a target="_blank" href="http://blogg.stylematch.se/">blogg</a>!</p>

      <h3>Företagets historia</h3>
      <p>Företaget grundades i feburari år 2012 av Martin Andersson, Hampus Bergqvist, Jens Ohring och Marcus Padmo Jörgensen som alla träffades utanför en av toaletterna på Linköpings Universitet. I maj samma år hade man redan anslutit frisörer till sin testversion av tjänsten som nu växer för varje dag som går.</p>

      <h3>Om StyleMatch</h3>
      <p>StyleMatch är ett företag som ständigt arbetar med att förändra och finna nya lösningar på de problem som finns inom frisörbranschen idag.</p>

      <p>Vi vill utnyttja de möjligheter som finns för att på så sätt skapa nya, innovativa lösningar där vi tillsammans med våra kunder och användare kan växa in i framtiden.</p>

      <h3>Presskontakt</h3>
      <p>Har du frågor eller funderingar så tveka inte att kontakta <a href="mailto:martin@stylematch.se">martin@stylematch.se</a> eller ringa <b>0733 - 88 50 88</b></p>

      <h3>Extra material</h3>
      <p>För mer information och bilder, vänligen kontakta <a href="/martin/">Martin</a></p>
    </div>
  
  <div class="span5 pictures">
  <h2>
	  Pressbilder
  </h2>
  <h4>
	  Tryck på bilden för att ladda ner en högupplöst version.
  </h4>
  
 <ul>
 	<li>
	 	<a target="_blank" href="https://s3-eu-west-1.amazonaws.com/stylematch/external/press/StyleMatch+-+Bild+pa%CC%8A+sida.jpeg">
	 		<img src="https://s3-eu-west-1.amazonaws.com/stylematch/external/press/StyleMatch+-+Bild+pa%CC%8A+sida.jpeg"/>
	 	</a>
	 	<a target="_blank" href="https://s3-eu-west-1.amazonaws.com/stylematch/external/press/svartvita/StyleMatch+-+bild+på+sida.jpeg"/>
	 		<img src="https://s3-eu-west-1.amazonaws.com/stylematch/external/press/svartvita/StyleMatch+-+bild+på+sida.jpeg"/>
	 	</a>
 	</li>
 	<li>
	 	<a target="_blank" href="https://s3-eu-west-1.amazonaws.com/stylematch/external/press/StyleMatch+-+Bild+pa%CC%8A+team+2+Samuel+Andersson%2C+Marcus+Padmo+Jo%CC%88rgenssen%2C+Hampus+Bergqvist%2C+Martin+Andersson+och+Jens+Ohring.jpeg"/>
	 		<img src="https://s3-eu-west-1.amazonaws.com/stylematch/external/press/StyleMatch+-+Bild+pa%CC%8A+team+2+Samuel+Andersson%2C+Marcus+Padmo+Jo%CC%88rgenssen%2C+Hampus+Bergqvist%2C+Martin+Andersson+och+Jens+Ohring.jpeg"/>
	 	</a>
 	
	 	<a target="_blank" href="https://s3-eu-west-1.amazonaws.com/stylematch/external/press/svartvita/StyleMatch+-+Bild+pa%CC%8A+Team+2+Samuel+Andersson%2C+Marcus+Padmo+Jo%CC%88rgenssen%2C+Hampus+Bergqvist%2C+Martin+Andersson+och+Jens+Ohring.jpeg"/>
 			<img src="https://s3-eu-west-1.amazonaws.com/stylematch/external/press/svartvita/StyleMatch+-+Bild+pa%CC%8A+Team+2+Samuel+Andersson%2C+Marcus+Padmo+Jo%CC%88rgenssen%2C+Hampus+Bergqvist%2C+Martin+Andersson+och+Jens+Ohring.jpeg"/>
 		</a>
 	</li>
 	<li>
	 	<a target="_blank" href="https://s3-eu-west-1.amazonaws.com/stylematch/external/press/StyleMatch+-+Bild+pa%CC%8A+team+Samuel+Andersson%2C+Marcus+Padmo+Jo%CC%88rgenssen%2C+Hampus+Bergqvist%2C+Martin+Andersson+och+Jens+Ohring.jpeg"/>
	 		<img src="https://s3-eu-west-1.amazonaws.com/stylematch/external/press/StyleMatch+-+Bild+pa%CC%8A+team+Samuel+Andersson%2C+Marcus+Padmo+Jo%CC%88rgenssen%2C+Hampus+Bergqvist%2C+Martin+Andersson+och+Jens+Ohring.jpeg"/>
	 	</a>
	 	<a target="_blank" href="https://s3-eu-west-1.amazonaws.com/stylematch/external/press/svartvita/StyleMatch+-+Bild+pa%CC%8A+team+Samuel+Andersson%2C+Marcus+Padmo+Jo%CC%88rgenssen%2C+Hampus+Bergqvist%2C+Martin+Andersson+och+Jens+Ohring.jpeg"/>
	 		<img src="https://s3-eu-west-1.amazonaws.com/stylematch/external/press/svartvita/StyleMatch+-+Bild+pa%CC%8A+team+Samuel+Andersson%2C+Marcus+Padmo+Jo%CC%88rgenssen%2C+Hampus+Bergqvist%2C+Martin+Andersson+och+Jens+Ohring.jpeg"/>
	 	</a>
 	</li>

 
 </ul>
	  
	  
  </div>
</div>
{% endblock %}
