{% extends "base.html" %}
{% load url from future %}
{% load index_extras %}

{% block title %}Marknadsför din profil{% endblock %}
{% block meta-tag-image %}
<meta property="og:image" content="{{ profile_image }}">
{% endblock %}
{% block content %}

<div class="container">
  <div class="row promote">
  	<div class="span12">
  		<h1>Marknadsför din profil</h1>
  	</div>
  
  	<div class="span12">
  	
  	<div id='fb-root'></div>
  	
  	<h3>Dela din profil på Facebook för att visa alla din vänner att dem nu kan hitta dig på StyleMatch</h3>
  		<a onclick='postToFeed(); return false;'><img src="{{ STATIC_URL }}img/dela-knapp.png"></a>
    <p id='msg'></p>


    <script> 
      FB.init({appId: "YOUR_APP_ID", status: true, cookie: true});

      function postToFeed() {

        // calling the API ...
        var obj = {
          method: 'feed',
          link: 'http://www.stylematch.se/{{ profile.temporary_profile_url }}',
          picture: '{{ profile_image }}',
          name: '{{ user.first_name.title }} {{ user.last_name.title }}, frisör i {{ profile.salon_city.title }}',
          caption: 'http://www.stylematch.se/',
 		  description: '{{ user.first_name }} {{ user.last_name }}, frisör i {{ profile.salon_city }}. Se bilder på tidigare klippningar och bli inspirerad.',
 		  redirect_uri: 'http://www.stylematch.se/'
        };

        function callback(response) {
          document.getElementById('msg').innerHTML = "Post ID: " + response['post_id'];
        }

        FB.ui(obj, callback);
      }
    
    </script>
	</div>
  
  </div>
</div>

{% endblock %}
