{% extends "base.html" %}
{% load url from future %}

{% block head-javascripts %}
{{ block.super }}
<script src="{{ STATIC_URL }}js/underscore/underscore-min.js"></script>
<script src="{{ STATIC_URL }}js/backbone/backbone-min.js"></script>
<script src="{{ STATIC_URL }}js/backbone-tastypie.js"></script>
{% endblock %}

{% block html-head %}
{% comment %}
<meta name="keywords" content="frisör {{ profile.salon_city }},hitta frisör {{ profile.salon_city }},boka frisör,boka frisör {{ profile.salon_city }},frisör">
<meta name="description" content="{{ first_name }} {{ last_name }} i {{ profile.salon_city }}. Se bilder på tidigare klippningar, för att bilda dig en uppfattning om det är rätt frisör för DIG.">
{% endcomment %}

<script>
  PROFILE_API_URL = "{% url 'api_dispatch_list' api_name="profile" resource_name="profiles" %}";
</script>

<script type="text/javascript">
  function moveScroller() {
    var scrollTrigger = function() {
      var windowTop = $(window).scrollTop(){% if user.is_authenticated %} + 40{% endif %};
      var anchor = $("#scroller-anchor").offset().top;
      var scroller = $("#scroller");
      var footer = $('.base-footer-div').offset().top;
      var profile_list_height = $('#profile-list').height();
      if ( (windowTop > scroller) && (profile_list_height > 510) ) {
        pos = footer - (windowTop + 600);
        if (pos > 0) {
          pos = 0;
        }
        {% if user.is_authenticated %}pos += 40;{% endif %}
        scroller.css({ position:"fixed",top:pos+"px" })
      } else {
        if (windowTop <= anchor) {
          scroller.css({position:"relative",top:""})
        }
      }
    };
    $(window).scroll(scrollTrigger);
    scrollTrigger();
  }
</script>

<script type="text/javascript"
        src="http://maps.googleapis.com/maps/api/js?key=AIzaSyACqrBMuk4aRYqv8mAb-d-Z1k-QOct9sW0&sensor=false">
</script>

<style>
  /* remove background around twitter bootstrap modal, on this page */
  .modal-backdrop {
  opacity:0;
  }
</style>

{% endblock %}

{% block title %}Hitta frisör{% endblock %}

{% block content %}


<!-- Underscore.js Templates -->
<script type="text/template" id="tpl-profile-list-item">
  <div style="position:relative; height:105px;">
    <div class="span profile-list-picture">
      <a href="/<%= profile_url %>/">
        <img src="<%= profile_image %>" style="width:100px; height:100px;" />
      </a>
    </div>

    <a href="/<%= profile_url %>/">
      <p class="city-search-profilename" style="display:inline-block"><%= first_name %> <%= last_name %></p>
    </a>
    <p class="profile-list-item-city-salon-name"><%= salon_name %></p>
    <p class="profile-list-item-city-salon-adress"> <%= salon_adress %>, <%= salon_city %></p>
    <div class="profile-list-link-to-profile"><a class="search-page-view-on-map pull-right" href="/<%= profile_url %>/"> <i class="icon-user"></i>Visa Profil</a></div>
  </div>
</script>

<div class="row">
  <div class="span3">
    <h1>Sök Frisör</h1>
  </div>
</div>
<div class="row">
  <div class="span12" id="filters">
    <div id="location-container">
      <div class="search-parameters">
        <span class="search-text">Hitta frisör i</span>
        <select id="city">
          <option value="Alla">Alla städer</option>
          <option value="linköping">Linköping</option>
          <option value="stockholm">Stockholm</option>
          <option value="norrköping">Norrköping</option>
        </select>

        <button id="search-button" class="btn btn-primary submit">Sök frisör</button>
      </div>
      <div id="filter-container" style="display:none;">

        {% if specialities %}
        <span class="filter-text">Specialité:</span>
        <select id="speciality">
          <option value="">Ingen vald</option>
          <option value="">----------</option>
          {% for speciality in specialities %}
          <option value="{{ speciality.id }}">{{ speciality.name }}</option>
          {% endfor %}
        </select>
        {% endif %}
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="span8" id="profile-list"></div>

  <!-- Informationsblocket till höger       -->
  <div class="span4 pull-right city-search-information-span">
    <div id="sidebar" style="width:270px;">
      <div id="scroller-anchor">
      </div>
      <div id="scroller" style="margin-top:10px; width:270px">

        <!-- kartan         -->
        <div class="search-city-map" id="map_canvas">
        </div>
        <!-- slut på kartan         -->

     
      </div>
    </div>
    <script type="text/javascript">
      $(function() {
      moveScroller();
      });
    </script>
  </div>
  <!--  end informationsblocket      -->


</div>

<div id="fb-root"></div>

<!-- the code that does the magic on the page -->
<script src="{{ STATIC_URL }}js/search.js"></script>

{% endblock %}
