{% extends "base.html" %}
{% load url from future %}
{% load index_extras %}

{% block title %}Register plix{% endblock %}
{% block content %}

<h2>Först, börja med att fylla i information om din salong.</h2>
<hr>

<div>
<form>

<div class="span12 signup-label-div">
  <label class="signup-label">Salongens namn</label>
  <input type="text" class="span3">
	</div>
	<br>
<div class="span12 signup-label-div">
  <label class="signup-label">Salongens Adress</label>
  <input type="text" class="span3">
	</div>
	<br>
<div class="span3 signup-label-div">
  <label class="signup-label">Stad</label>
  <input type="text" class="span3">
  </div>
  <div class="span8 signup-label-div">
  <label class="signup-label">Postnummer</label>
  <input type="text" class="span1">
	</div>
<div class="span3 signup-label-div">
  <label class="signup-label">Salongens Telefonnummer</label>
  <input type="text" class="span3">
  </div>
  <div class="span8 signup-label-div">
  <label class="signup-label">Personligt Telefonnummer</label>
  <input type="text" class="span3">
	</div>
<div class="span12 signup-label-div">
  <label class="signup-label">Vilket telefonnummer ska visas på profilen?</label>
              <select id="select01">
                <option>Salongens Telefonnummer</option>
                <option>Personlig Telefonnummer</option>
              </select>
	</div>
	<br>
	<br>
	<br><br><br>
<div class="span12 signup-label-button">
	<a href="/signup-step2"><button type="submit" class="btn-large btn-info">Forsätt vidare</button></a>
</div>
	
	</form>
</div>
  
{% endblock %}
