{% extends "base.html" %}
{% load url from future %}
{% load index_extras %}

{% block title %}Register plix{% endblock %}
{% block content %}

<h2>Vilka tider har salongen öppet?</h2>
<hr>

<div>
	<form>
		<div class="span2 open-hours-div" style="background-color:red;">
		<br><br><br><br>
		<div class="checkbox-height">
		<label class="checkbox">
                <input type="checkbox" id="optionsCheckbox1" value="option3">
                Måndag
              </label>
        </div>
        <div class="checkbox-height">
		<label class="checkbox">
                <input type="checkbox" id="optionsCheckbox2" value="option2" checked>
                Tisdag
              </label>
        </div>
        <div class="checkbox-height">
        <label class="checkbox">
                <input type="checkbox" id="optionsCheckbox3" value="option3" checked>
                Onsdag
              </label>
        </div>
		 <div class="checkbox-height">
        <label class="checkbox">
                <input type="checkbox" id="optionsCheckbox4" value="option4" checked>
                Torsdag
              </label>
        </div>
         <div class="checkbox-height">
        <label class="checkbox">
                <input type="checkbox" id="optionsCheckbox5" value="option5" checked>
                Fredag
              </label>
        </div>
         <div class="checkbox-height">
        <label class="checkbox">
                <input type="checkbox" id="optionsCheckbox6" value="option6" checked>
                Lördag
              </label>
        </div>
         <div class="checkbox-height">
        <label class="checkbox">
                <input type="checkbox" id="optionsCheckbox7" value="option7" checked>
                Söndag
              </label>
        </div>
	</div>
        
	<div class="span3 open-hours-div" style="background-color:green;">
        <br>
        <h3>Öppnar</h3>
       
        
         <div class="checkbox-height">
        <label class="checkbox">
                <input type="checkbox" id="optionsCheckbox6" value="option6" checked>
                Lördag
              </label>
              
        </div>
        
        
         </div>
        
		</div>

	
	</form>
</div>
  
{% endblock %}
