<html>
<head>
<script type="text/javascript" src="//assets.pinterest.com/js/pinit.js"></script>
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/sv_SE/all.js#xfbml=1&appId=309825002426259";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

</head>
<body>
  <style>
    body {
    }
    img {
    max-width:400px;
    margin:0px 5px 50px 0px;
    xfloat:left;
    }
    ul {
    list-style-type:none;
    }
    li {
    width:1100px
    background-color:grey;
    }
    .hype {
    display:inline-block;
    margin-right:30px;
    position:relative;
    top:-300px;
    }
    .fb {
    margin-left:128px;
    margin-top:-20px;
    }
    .fb-comments {
    margin-top:10px;
    padding-bottom:25px;
    border-bottom:1px solid black;
    }
   </style>
  <img style="margin-left:470px;margin-top:30px;width:250px;" src="http://stylematch.s3-website-eu-west-1.amazonaws.com/img/logo.png">
  <div style="margin-left:300px;margin-top:-50px;width:700px;background-color:white">
    <ul>
     

      <li><img class="hype" src="http://stylematch.s3-website-eu-west-1.amazonaws.com/test/hype.png"/><img style="display:inline-block;" src="http://stylematch.s3-website-eu-west-1.amazonaws.com/test/2223716__MG_3525_collage.jpg"/><a href="http://pinterest.com/pin/create/button/" class="pin-it-button" count-layout="horizontal"><img border="0" src="http://stylematch.s3-website-eu-west-1.amazonaws.com/test/PinExt.png" title="Pin It" /></a>
	<div class="fb fb-like" data-href="http://stylematch.se" data-send="true" data-width="450" data-show-faces="true"></div><br>
	<!--<div class="fb-send" data-href="http://stylematch.se"></div>-->
      
	<div class="fb fb-comments" data-href="http://stylematch.se" data-num-posts="3" data-width="470"></div>
	<br>
	</li>
      <li>
	<img class="hype" src="http://stylematch.s3-website-eu-west-1.amazonaws.com/test/hype.png"/>
	<img style="display:inline-block;" src="http://stylematch.s3-website-eu-west-1.amazonaws.com/test/petergraykoll.jpg"/>
	<a href="http://pinterest.com/pin/create/button/" class="pin-it-button" count-layout="horizontal">
	  <img border="0" src="http://stylematch.s3-website-eu-west-1.amazonaws.com/test/PinExt.png" title="Pin It" />
	</a>
	<div class="fb-comments" data-href="http://stylematch.se" data-num-posts="3" data-width="470">
	</div>
      </li>
      <li><img class="hype" src="http://stylematch.s3-website-eu-west-1.amazonaws.com/test/hype.png"/><img src="http://stylematch.s3-website-eu-west-1.amazonaws.com/test/EL_SL_DarkAngel_Danielle04_074.jpg"/><img border="0" src="http://stylematch.s3-website-eu-west-1.amazonaws.com/test/PinExt.png" title="Pin It" /></a></li>	<div class="fb-comments" data-href="http://stylematch.se" data-num-posts="3" data-width="470"></div></li>
      <li><img class="hype" src="http://stylematch.s3-website-eu-west-1.amazonaws.com/test/hype.png"/><img src="http://stylematch.s3-website-eu-west-1.amazonaws.com/test/LP-Odile-Tresse.jpg"/><img border="0" src="http://stylematch.s3-website-eu-west-1.amazonaws.com/test/PinExt.png" title="Pin It" /></a></li>	<div class="fb-comments" data-href="http://stylematch.se" data-num-posts="3" data-width="470"></div></li>
      <li><img class="hype" src="http://stylematch.s3-website-eu-west-1.amazonaws.com/test/hype.png"/><img src="http://stylematch.s3-website-eu-west-1.amazonaws.com/test/lornaevans-blogg.jpg"/><img border="0" src="http://stylematch.s3-website-eu-west-1.amazonaws.com/test/PinExt.png" title="Pin It" /></a></li></li>
      <li><img class="hype" src="http://stylematch.s3-website-eu-west-1.amazonaws.com/test/hype.png"/><img src="http://stylematch.s3-website-eu-west-1.amazonaws.com/test/mikaskkss12_2.jpg"/><img border="0" src="http://stylematch.s3-website-eu-west-1.amazonaws.com/test/PinExt.png" title="Pin It" /></a></li></li>
      <li><img class="hype" src="http://stylematch.s3-website-eu-west-1.amazonaws.com/test/hype.png"/><img src="http://stylematch.s3-website-eu-west-1.amazonaws.com/test/naha2012new_300-160x133.jpg"/><img border="0" src="http://stylematch.s3-website-eu-west-1.amazonaws.com/test/PinExt.png" title="Pin It" /></a></li></li>
      <li><img class="hype" src="http://stylematch.s3-website-eu-west-1.amazonaws.com/test/hype.png"/><img src="http://stylematch.s3-website-eu-west-1.amazonaws.com/test/"/><img border="0" src="http://stylematch.s3-website-eu-west-1.amazonaws.com/test/PinExt.png" title="Pin It" /></a></li></li>
    </ul>
  </div>

</body>
</html>	
