{% load index_extras%}
<div class="service">
  <div class="profile-service-list-item">
    <div class="service-name profile-service-name" ><b>{{ service.name.title }}</b></div>
    <div class="service-price profile-service-price">{{ service.price }}:-</div>
    <div class="service-length profile-service-length">{{ service.get_length_display }}</div>
    <div class="service-booking-button">
      {% if got_onlinebooking %}
      <a href="#" id="{{ service.id }}" class="btn btn-info service-book-me">Boka mig</a>
      {% else %}
      <span>ring för att boka</span>
      {% endif%}
    </div>

    <div class="service-description profile-service-description">{{ service.description }}</div>
  </div>
</div>

<tr>
