{% load url from future %}

<div class="row profile-menu-underline">
  <div class="span11">
    <ul class="nav nav-tabs edit-navigation" style="margin-bottom:0px; ">
      <li class="{{ display_profile }}"><a href="{% url 'profile_display_redirect' %}">Visa profil</a></li>
      <li class="{{ edit_profile }}"><a href="{% url 'profile_edit' %}"> <i class="icon-pencil"></i> Förändra profil</a></li>
      <li class="{{ edit_openhours }}"><a href="{% url 'profiles_add_hours' %}"><i class="icon-time"></i> Förändra öppetider</a></li>
      <li class="{{ edit_services }}"><a href="{% url 'profiles_edit_services' %}"><i class="icon-list-alt"></i> Förändra prislista</a></li>
      <li class="{{ upload_images }}"><a href="{% url 'upload-images' %}"><i class="icon-camera"></i> Lägg till bilder</a></li>
      <li class="{{ edit_images }}"><a href="{% url 'profiles_edit_images' %}"><i class="icon-camera"></i> Förändra bilder</a></li>
    </ul>
  </div>
</div>
