{% extends "base.html" %}
{% load index_extras %}
{% load url from future %}

{% block content %}

{% include "profiles/edit_profile_menu.html" with edit_profile="active" %}

<div class="row" >
  <div id="edit-profile-large" class="span12" >
    <br><br>


    <div id="edit-profile-forms">
      <form  action="" method="post">
	{% csrf_token %}

        <div class="span8" >
          {% include "profiles/form_snippet.html" with field=form.profile_first_name %}
          {% include "profiles/form_snippet.html" with field=form.profile_last_name %}
          {% include "profiles/form_snippet.html" with field=form.profile_text %}

          <p class="edit-profile-label">{{ form.profile_url.label_tag }}<span id="popover" rel="popover" data-content="" data-original-title="Detta blir din personliga Stylematch-adress. Det är denna du kommer kunna ge till kunder och vänner så att de direkt kan besöka din profil."> &nbsp;<i class="icon-info-sign"></i></span></p>
          {{ form.profile_url.errors }}

          <p style="float: left; font-size: 17px; margin-top: 5px; padding-right: 3px;"> http://www.stylematch.se/ </p>
          {{ form.profile_url }}

          {% include "profiles/form_snippet.html" with field=form.salon_name %}


          {% include "profiles/form_snippet.html" with field=form.salon_adress %}

          {% include "profiles/form_snippet.html" with field=form.salon_city  css_class="profile-form-right" %}

          {% include "profiles/form_snippet.html" with field=form.zip_adress %}

          {% include "profiles/form_snippet.html" with field=form.personal_phone_number  css_class="profile-form-right" %}

          {% include "profiles/form_snippet.html" with field=form.salon_phone_number %}
          {% include "profiles/form_snippet.html" with field=form.number_on_profile %}

          {% include "profiles/form_snippet.html" with field=form.salon_url %}

          {% include "profiles/form_snippet.html" with field=form.show_booking_url  css_class="edit-profile-label" %}


          <input type="submit" class="btn-large btn-info" value="Spara ändringar" />


        </div>
    </div>

    </form>

  </div>
</div>
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery-ui-1.8.18.custom.min.js"></script>
<script src="{{ STATIC_URL}}js/bootstrap-tooltip.js" type="text/javascript"></script>
<script type="text/javascript">
  $('#popover').tooltip();
</script>

{% endblock %}
