{% extends "base.html" %}
{% load url from future %}
{% load index_extras %}

{% block html-head %}
<script src="{{ GALLERIA_SCRIPT }}" type="text/javascript" />
<script type="text/javascript"> Galleria.loadTheme('{{ GALLERIA_THEME }}'); </script>
{% endblock %}

{% block content %}

<div class="container">

{% if user.is_authenticated %}
<center>
<ul class="nav nav-tabs edit-navigation" style="margin-bottom:0px; ">
  <li class="active"><a href="{% url 'profile_display_redirect' %}">Visa Profil</a></li>
  <li><a href="{% url 'profile_edit' %}">Förändra Profil</a></li>
  <li ><a href="{% url 'profiles_add_hours' %}">Förändra Öppetider</a></li>
  <li><a href="{% url 'profiles_edit_services' %}">Förändra Prislista</a></li>
  <li><a href="{% url 'profiles_edit_images' %}">Lägg Till Bilder</a></li>
</ul>
</center>

{% endif %}
  
<div class="row masthead" >
  <!-- should be centerted instead of using offset -->

    <!-- <div class="span3">
      {% include "profiles/display_images_snippet.html" with images=profile_image css_class='profile-image' %}
    </div> -->

    <div class="span3 profile-image">
        <img src="{{ profile_image }}" name="profile-image"> 
    </div>

    <div class="span8 profile-text-block">

      <h2>{{ profile.profile_name }}</h2>
      <h3>{{ profile.salon_name }}</h3>
      <blockquote><p>{{ profile.profile_text }}</p></blockquote>
    </div>


</div>

<hr class="soften">
<div class="row">
  <div class="span10 offset1" id="gallery">
    {% include "profiles/display_images_snippet.html" with images=gallery_images css_class='gallery-image' %}
  </div>
  <script>
    Galleria.loadTheme('{{ GALLERIA_THEME }}');
    $("#gallery").galleria({
    width: 780,
    height: 500
    });
  </script>
</div>
<hr class="soften">
{% if services %}

<div class="row " >
  <div class="span8">
    <h3>Prislista</h3>
    {% for service in services %}
    {% include "profiles/display_service_snippet.html" with service=service %}
    {% endfor %}
  </div>

<div class="span4 pull-right">
    <center>
    <table class="open-hours-profile">
      <thead>
        <th>&nbsp;</th>
        <th style="padding-left:15px;">Öppettider</th>
      </thead>
      <tbody>
	
        {% for day in weekdays %}
        <tr>
          <td > {{ day.day }}</td>
            
            {% if day.open == -1 or day.closed == -1 %}
                <td style="padding-left:15px;">Stängt</td>
            {% else %}
                <td style="padding-left:15px;">{{ day.open }} - {{ day.closed }}</td>
            {% endif %}
          
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <center>	
  </div>

</div>
{% endif %}

<div class="row show-grid">
  
</div><div class="row show-grid">
  
  
{% if user.is_authenticated %}
</div>
</div>
{% endif %}
</div>

{% endblock %}
