
{% extends "base.html" %}
{% load url from future %}
{% load index_extras %}

{% block html-head %}
<script src="{{ GALLERIA_SCRIPT }}" type="text/javascript" />
<script type="text/javascript"> Galleria.loadTheme('{{ GALLERIA_THEME }}'); </script>
<script src="{{ STATIC_URL }}js/bootstrap-modal.js" type="text/javascript"></script>
<script type="text/javascript">
	$('#bookmemodal').modal();
	
<meta property="og:site_name" content="StyleMatch">
<meta property="og:type" content="company">
<meta property="og:image" content="{{ profile_image }}">
<meta property="og:street-address" content="{{ profile.salon_adress }}">
<meta property="og:locality" content="{{ profile.salon_city }}">
<meta property="og:phone_number" content="{% if profile.number_on_profile %}
    {{ profile.personal_phone_number }}
    {% else %}
    {{ profile.salon_phone_number }}
    {% endif %} ">

<meta property="og:postal-code" content="{{ zip_adress }}">
<meta property="og:country-name" content="SWEDEN">
<meta property="og:title" content="{{ first_name }} {{ last_name }}">

</script>


{% endblock %}

{% block title %}{{ first_name }} {{ last_name }}{% endblock %}

{% block content %}

<div id="fb-root"></div>


{% if user.is_authenticated and logged_in_user_profile %}
{% include "profiles/edit_profile_menu.html" with display_profile="active" %}
{% endif %}
<!-- remove these <br> asap!! -->
<br><br>

<div class="row masthead" >

  <div class="span3 profile-image ">
    <div class="profile-image-border">
    
      <img src="{{ profile_image }}" name="profile-image">
    
    {% if user.is_authenticated and logged_in_user_profile %}
    <a class="edit-profile-image-test-links" href="{% url 'edit_images' %}">
    <div class="edit-profile-image-test">
    <h3> Tryck här för att byta profilbild</h3>
    </div></a>
    {% endif %}
    
    <!-- data-href, since we want to use a permanent url for likes (so they can change their "profile url" and still keep the likes.) -->
    <div class="fb-like facebook-like-on-profile-display" data-href="http://www.{{ site_domain }}/{{ profile.temporary_profile_url }}" data-send="true" data-layout="button_count" data-width="220" data-show-faces="true" data-action="recommend"></div>
  
    </div>
    
  </div>

  <div class="span6 profile-text-block">
    <h2 style="display:inline-block">{{ first_name }} {{ last_name }}</h2>
    <div class="fb-like pull-right" data-href="http://www.{{ site_domain }}/{{ profile.temporary_profile_url }}" data-send="false" data-layout="button_count" data-width="50" data-show-faces="true"></div>
    <h3>{{ profile.salon_name }}   |   {{ profile.salon_city }}</h3>
    <blockquote><p>{{ profile.profile_text }}</p></blockquote>
    
    {% include "book_me_modal_snippet.html" %}
    <a class="btn btn-large btn-info pull-right book-me-btn"  data-toggle="modal" href="#bookmemodal" >Boka mig!</a>
    
  </div>
  <div class="span3" id="salon-information">
     <div>
	    
    <img class="salong-map-profile" src="http://maps.googleapis.com/maps/api/staticmap?center={{ profile.salon_adress }}, {{ profile.salon_city }},sweden&zoom=13&size=220x220&maptype=roadmap
&markers=color:red%7Ccolor:red%7C{{ profile.salon_adress }}, {{ profile.salon_city }},sweden&sensor=false"></img>
	    
    </div>
    <h2>Kontakt</h2>
    <h4>{{ profile.salon_name }}</h4>

   
    <p>{{ profile.salon_adress }}, {{ profile.salon_city }}</p>
    <p>Tele:
    {% if profile.number_on_profile %}
    {{ profile.personal_phone_number }}
    {% else %}
    {{ profile.salon_phone_number }}
    {% endif %} </p>
    
   
    
  </div>
</div>

<hr class="soften">
<div class="row">
  <div class="span10 offset1" id="gallery">
    {% include "profiles/display_images_snippet.html" with images=gallery_images css_class='gallery-image' %}
  </div>
  <script>
    Galleria.loadTheme('{{ GALLERIA_THEME }}');
    $("#gallery").galleria({
    width: 780,
    height: 500
    });
  </script>
</div>
<hr class="soften">
{% if services %}

<div class="row" >
  <div class="span8">
    <h3>Prislista</h3>
    {% for service in services %}
    {% include "profiles/display_service_snippet.html" with service=service %}
    {% endfor %}
  </div>

  <div class="span3 pull-right">
    <div>
      <table class="open-hours-profile">
        <thead>
          <th>&nbsp;</th>
          <th style="padding-left:15px;">Öppettider</th>
        </thead>
        <tbody>

          {% for day in weekdays %}
          <tr>
            <td > {{ day.day }}</td>

            {% if day.open == -1 or day.closed == -1 %}
            <td style="padding-left:15px;">Stängt</td>
            {% else %}
            <td style="padding-left:15px;">{{ day.open }} - {{ day.closed }}</td>
            {% endif %}

          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>

</div>
{% endif %}

<div class="row show-grid">

</div><div class="row show-grid">


  {% if user.is_authenticated %}
</div>
</div>
{% endif %}
</div>



{% endblock %}
