{% extends "base.html" %}
{% load index_extras %}
{% load url from future %}

{% block content %}

<!--- Under detta borde flyttas ut (dvs det tillhör inte content) ---!>

<center>
<ul class="nav nav-tabs edit-navigation" style="margin-bottom:0px; ">
  <li><a href="{% url 'profile_display_redirect' %}">Visa Profil</a></li>
  <li class="active"><a href="{% url 'profile_edit' %}">Förändra Profil</a></li>
  <li><a href="{% url 'profiles_add_hours' %}">Förändra Öppetider</a></li>
  <li><a href="{% url 'profiles_edit_services' %}">Förändra Prislista</a></li>
  <li><a href="{% url 'profiles_edit_images' %}">Lägg Till Bilder</a></li>
</ul>
</center>



<div class="row" >
<div id="edit-profile-large" class="span12" >
<br><br>

<!--- Detta ovan borde flyttas ut (dvs det tillhör inte content) ---!>

<div id="edit-profile-forms">
<form  action="" method="post">{% csrf_token %}
  
    <div class="span4" >
      {% include "profiles/form_snippet.html" with field=form.profile_name %}
      {% include "profiles/form_snippet.html" with field=form.profile_text %}
      
     
  <p>{{ form.profile_url.label_tag }}</p>
     {{ form.profile_url.errors }}
     <p style="float: left; font-size: 20px; margin-top: 5px; padding-right: 3px;"> http://www.stylefinder.se </p>
     {{ form.profile_url }}
      
      {% include "profiles/form_snippet.html" with field=form.salon_name %}
     
    
        {% include "profiles/form_snippet.html" with field=form.salon_adress %}
      
      
       {% include "profiles/form_snippet.html" with field=form.salon_city %}
    
    {% include "profiles/form_snippet.html" with field=form.zip_adress %}
    
    {% include "profiles/form_snippet.html" with field=form.profile_phone_number %} 
      {% include "profiles/form_snippet.html" with field=form.salon_phone_number %}
      
      <label class="signup-label">Vilket telefonnummer ska visas på profilen?</label>
              <select id="select01">
                <option>Salongens Telefonnummer</option>
                <option>Personlig Telefonnummer</option>
              </select>	    	
              
    {% include "profiles/form_snippet.html" with field=form.salon_url %}
    	
    	
    	
    	
    	
      {% include "profiles/form_snippet.html" with field=form.show_booking_url %}
      <input type="submit" class="btn-large btn-info" value="Spara ändringar" />
    
    
    </div>
  </div>
  </div>
 
   
 
  </div>
</form>
{% endblock %}
