{% extends "base.html" %}
{% load url from future %}
{% load index_extras %}

{% block html-head %}
<script src="{{ GALLERIA_SCRIPT }}" type="text/javascript" />
<script type="text/javascript"> Galleria.loadTheme('{{ GALLERIA_THEME }}'); </script>
{% endblock %}

{% block content %}
<div class="row">
  <!-- should be centerted instead of using offset -->
  <div class="offset1 span11 masthead">
    <div class="span3">
      {% include "profiles/display_images_snippet.html" with images=profile_image css_class='profile-image' %}
    </div>
    <div class="span7">
      <h2>{{ profile.profile_name }}</h2>
      <h3>{{ profile.salon_name }}</h3>
      <blockquote><p>{{ profile.profile_text }}</p></blockquote>
    </div>

  </div>
</div>
<hr class="soften">
<div class="row">
  <div class="span12" id="gallery">
    {% include "profiles/display_images_snippet.html" with images=gallery_images css_class='gallery-image' %}
  </div>
  <script>
    Galleria.loadTheme('{{ GALLERIA_THEME }}');
    $("#gallery").galleria({
    width: 940,
    height: 500
    });
  </script>
</div>
<hr class="soften">
{% if services %}
<div class="row show-grid">
  <div class="span5">
    <h2>Tjänster</h2>
    {% for service in services %}
    {% include "profiles/display_service_snippet.html" with service=service %}
    {% endfor %}
  </div>
</div>
{% endif %}

<div class="row show-grid">
  <div class="span5">
    <h2>Öppettider</h2>

    <table class="table">
      <thead>
        <th>Dag</th>
        <th>Öppettider</th>
        <th>Lunchstängt</th>
      </thead>
      <tbody>
	
        {% for day in weekdays %}
        <tr>
          <td> {{ day.day }}</td>
          <td>{{ day.open }} - {{ day.closed }}</td>
          <td>{{ day.lunch_start }} - {{ day.lunch_end }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    	
  </div>
</div><div class="row show-grid">
  <div>
    <!--BEGIN LOOKS WIDGET--><script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js" type="text/javascript"></script><script src="http://lookbook.nu/widget/looks.js?id=1797269&thumbs=4&source=hot_looks&gender=both&align=center&r=1334195474&hash=1818cd9f21c0b3408edfde6dca5d2e98"></script><div id="lb_looks_widget_1334195474"></div><!--END LOOKS WIDGET--> 
</div>
<!--BEGIN PROFILE WIDGET--><script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js" type="text/javascript"></script><script src="http://lookbook.nu/widget/profile.js?id=1797269&width=standard&align=center&stats_fans=1&stats_looks=1&stats_loves=1&stats_karma=1&fanbox=yes&hash=1818cd9f21c0b3408edfde6dca5d2e98"></script><div id="profile_widget_container_1797269"></div><!--END PROFILE WIDGET--> 
</div>
</div>

{% endblock %}
