{% extends "base.html" %}
{% load index_extras %}
{% load url from future %}

{% block content %}

<!--- Under ovan borde flyttas ut (dvs det tillhör inte content) ---!>

<center>
<ul class="nav nav-tabs">
  <li><a href="#">Visa Profil</a></li>
  <li class="active"><a href="#">Förändra Profil</a></li>
  <li><a href="#">Förändra Öppetider</a></li>
  <li><a href="#">Förändra Prislista</a></li>
  <li><a href="#">Lägg Till Bilder</a></li>
</ul>
</center>
<br><br>


<div class="row">
<div id="edit-profile-large" class="span11">
<br><br>

<!--- Detta ovan borde flyttas ut (dvs det tillhör inte content) ---!>

<div id="edit-profile-forms">
<form  action="" method="post">{% csrf_token %}
  
    <div class="span4" >
      {% include "profiles/form_snippet.html" with field=form.profile_name %}
      {% include "profiles/form_snippet.html" with field=form.profile_text %}
      
     
      <p>{{ form.profile_url.label_tag }}</p>
     {{ form.profile_url.errors }}
     <p class="profile-horisontal-text"> http://www.stylefinder.se/</p>
     {{ form.profile_url }}
      
      {% include "profiles/form_snippet.html" with field=form.salon_name %}
     
    
        {% include "profiles/form_snippet.html" with field=form.salon_adress %}
      
      
       {% include "profiles/form_snippet.html" with field=form.salon_city %}
    
    {% include "profiles/form_snippet.html" with field=form.zip_adress %}
    
    {% include "profiles/form_snippet.html" with field=form.profile_phone_number %} 
      {% include "profiles/form_snippet.html" with field=form.salon_phone_number %}
      
      <label class="signup-label">Vilket telefonnummer ska visas på profilen?</label>
              <select id="select01">
                <option>Salongens Telefonnummer</option>
                <option>Personlig Telefonnummer</option>
              </select>	    	
              
    {% include "profiles/form_snippet.html" with field=form.salon_url %}
    	
    	
    	
    	
    	
      {% include "profiles/form_snippet.html" with field=form.show_booking_url %}
      <input type="submit" value="Spara" />
    
     <p>Facebook: om connected with facebook, visa http://facebook.com/Jenso1988.
        Annars: stor knapp för att "connect with facebook", samt visa anledningar till det.</p>
      <p>Twitter användarnamn: visas exempelvis som http://twitter.com/Jenso88</p>
      <!--<a href="{# TODO: cant find reverse match from here
url 'auth_password_change' #}">Byt lösenord</a>-->
    
    </div>
  </div>
  </div>
 
   
  <div class="row show-grid">
    <div class="span6">
    
      <h2>Tjänster</h2>

      <a href="{% url 'profiles_edit_services' %}">Edit services</a>
      <a href="{% url 'profiles_edit_images' %}">Edit images</a>
      <p>Klick på redigera -> gör att man kan lägga till nya och sortera</p>
      <p></p>
      <p></p>
      <p></p>
      <input type="submit" value="Spara" />
    </div>
    <div class="span6">
      <h2>Öppettider</h2>

       <a href="{% url 'profiles_add_hours' %}">Redigera öppettider</a>
        <br />
    </div>
  </div>
  </div>
</form>
{% endblock %}
