{% extends "base.html" %}
{% load url from future %}

{% block content %}
<div class="page-header">
  <h1>
    Översikt
    <small>Blaha blaha</small>
  </h1>
</div>
<div class="tabbable tabs-left">
  <ul class="nav nav-tabs" id="infotabs">
    <li class="active">Du har<span>4</span>steg kvar till en perfekt profil!</li>
  </ul>
  <div class="tab-content tasktable" id="lA">
    <table class="table">
      <caption>Att göra:</caption>
      <tbody>
        <tr>
          <td class="cleared">
            <a href="#">
            <span class="label label-success">Ok</span>
              Gör ditt StyleMatch-konto!
            </a>
          </td>
        </tr>
        <tr>
          <td>
            <a href="{% url 'edit_images' %}">
            <span class="label label-important">Ej klart</span>
              Ladda upp en profilbild
            </a>
          </td>
        </tr>
        <tr>
          <td>
            <a href="{% url 'profile_edit' %}">
            <span class="label label-important">Ej klart</span>
              Fyll i salongsinformation
            </a>
          </td>
        </tr>
        <tr>
          <td>
            <a href="{% url 'edit_images' %}">
            <span class="label label-important">Ej klart</span>
              Ladda upp din första galleribild!
            </a>
          </td>
        </tr>
        <tr>
          <td>
            <a href="{% url 'profiles_edit_services' %}">
            <span class="label label-important">Ej klart</span>
              Lägg upp din prislista
            </a>
          </td>
        </tr>
        <tr>
          <td>
            <a href="{% url 'profiles_add_hours' %}">
            <span class="label label-important">Ej klart</span>
              Skriv in dina öppettider
            </a>
          </td>
        </tr>
        <tr>
          <td>
            <a href="{% url 'profile_edit' %}">
            <span class="label label-important">Ej klart</span>
              Skriv din personliga information
            </a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<h2>Statistik</h2>
{% block statistics %}
<div class="row">
  <div class="span4">
    <div class="well">
      <img src="http://placehold.it/260x180" />
    </div>
  </div>
  <div class="span4">
    <div class="well">
      <img src="http://placehold.it/260x180" />
    </div>
  </div>
  <div class="span4">
    <div class="well">
      <img src="http://placehold.it/260x180" />
    </div>
  </div>
</div>
{% endblock %}

{% endblock %}

