{% extends "base.html" %}
{% load url from future %}

{% block content %}
<div class="page-header">
  <h1>
    Översikt
    <small>Blaha blaha</small>
  </h1>
</div>
<div class="tabbable tabs-left">
  <ul class="nav nav-tabs" id="infotabs">
    <li class="active">Du har<span>{{ actual_tasks_to_do }}</span>steg kvar till en perfekt profil!</li>
  </ul>
  <div class="tab-content tasktable" id="lA">
    <table class="table">
      <caption>Att göra:</caption>
      <tbody>
        {% for task in tasks_to_be_done %}
        <tr>
          <td{% if task.passed %} class="cleared"{% endif %}>
            <a href="{{ task.url }}">
              <span class="label label-{% if task.passed %}success{% else %}important{% endif %}">
                {% if task.passed %}Ok{% else %}Ej klart{% endif %}
              </span>
              {{ task.text }}
            </a>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>

<h2>Statistik</h2>
{% block statistics %}
<div class="row">
  <div class="span4">
    <div class="well">
      <img src="http://placehold.it/260x180" />
    </div>
  </div>
  <div class="span4">
    <div class="well">
      <img src="http://placehold.it/260x180" />
    </div>
  </div>
  <div class="span4">
    <div class="well">
      <img src="http://placehold.it/260x180" />
    </div>
  </div>
</div>
{% endblock %}

{% endblock %}

