{% extends "base.html" %}
{% load url from future %}

{% block title %}Översikt{% endblock %}

{% block html-head %}
<script src="{{ STATIC_URL }}js/d3.v2.min.js"></script>
<script src="{{ STATIC_URL }}js/underscore/underscore-min.js"></script>

<script type="text/javascript">
  <!-- Visitor count statistics to chart -->
  {% if visitor_count_data %}
  var visitor_count_data = {{ visitor_count_data|safe }};
  {% endif %}
</script>
{% endblock %}


{% block content %}
<!-- Underscore.js Templates -->
<script type="text/template" id="chart-tooltip">
  <div id="tooltip" >
    <p><%= visitor_count %> personer har besökt dig</p>
    <p><%= start_date %> - <%= end_date %></p>
  </div>
</script>

<div class="page-header">
  <h1>
    Översikt
    <small>{{ user.first_name.title }} {{ user.last_name.title }}</small>
  </h1>
</div>

{% if tasks_to_be_done %}
<div class="tabbable tabs-left">
  <ul class="nav nav-tabs" id="infotabs">
    <li class="active">Du har<span>{{ actual_tasks_to_do }}</span>steg kvar till en perfekt profil!</li>
  </ul>
  <div class="tab-content tasktable" id="lA">
    <table class="table">
      <caption>Att göra:</caption>
      <tbody>
        {% for task in tasks_to_be_done %}
        <tr {% if task.passed %}class="cleared"{% endif %}>
          <td class="left-cell">
            <a href="{{ task.url }}">
              <span class="label label-{% if task.passed %}success{% else %}important{% endif %}">
                {% if task.passed %}Ok  <i class="icon-ok icon-white"></i>{% else %}Ej klart{% endif %}

              </span>
            </a>
          </td>
          <td>
            <a href="{{ task.url }}">{{ task.text }}</a>
          </td>

        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endif %}

<h1>Statistik</h1>
{% block statistics %}
<div id="statistics-block" class="row">
  <div class="span6">
    <h3>Antal besökare på din profil</h3>
    <div>
      <div id="profile-visitor-statistics"></div>
    </div>
  </div>
  <!--  <div class="span4">
        <div class="well">
          <img src="http://placehold.it/260x180" />
        </div>
  </div>
</div>-->
  <!-- Google analytics visitor count chart, with D3js -->
  <script type="text/javascript" src="{{ STATIC_URL }}js/chart.js"></script>

  {% endblock %}

  {% endblock %}
