{% extends 'base.html' %}
{% load url from future %}

{% block title %}Inbjudningskoder{% endblock %}

{% block html-head %}
<script src="{{ STATIC_URL }}js/underscore/underscore-min.js"></script>
<script src="{{ STATIC_URL }}js/backbone/backbone-min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/bootstrap-collapse.js"></script>
{% endblock %}

{% block content %}
<style>
.friend-name-highlighted { 
font-weight:bold;
}
.fb-friend {
display:block;
}
.fb-friend p {
display:inline-block;
}
</style>

<input type="text" id="filter-friends" name="filter-friends">
<!-- Underscore.js Templates -->
<script type="text/template" id="tpl-facebook-friend-item">
  <p><% if(highlighted_name) { %> <%= highlighted_name %> <% } else { %> <%= name %> <% } %> <p>
  <img src="<%= pic_square %>">
  <button>Bjud in</button>
</script>

<div class="page-header">
  <h1>Inbjudningskoder
  <small>Bjud in kollegorna till StyleMatch!</small>
  </h1>
</div>

<div class="alert alert-warning">
  <strong>Hoppsan!</strong>
  Detta är fortfarande under utveckling. Inbjudningskoder kommer snart!
</div>

<div class="row">
  <div class="span6 offset2">
    <h2>Dina koder</h2>
  </div>
</div>

<div class="facebook-friends">
  <ul>
  </ul>
</div>
<script type="text/javascript" src="{{ STATIC_URL }}js/facebook_friends_invite.js"></script>

{% endblock %}

